// Footer
.footer {
  position: relative;
  z-index: 1;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: -32px;
    width: 100%;
    height: 49px;
    background-image: url("../images/footer-top.png");
  }

  &-container {
    position: absolute;
    width: 100%;
    padding-top: 63px;
    background: #ffb016;
  }

  &-top {
    width: auto;
    border-bottom: em(1) solid white;
    padding: 0 0 em(23) 0;
    margin-left: em(129);

    @include breakpoint(portrait-mobile-max) {
      margin: 0 20px;
    }

    .row {
      --bs-gutter-x: 0;
      --bs-gutter-y: 0;
    }

    &-contant {
      width: em(211);
      padding: 0 0;

      @include breakpoint(portrait-mobile-max) {
        width: 100%;
      }

      &:nth-child(1) {
        display: flex;
        justify-content: center;

        @include breakpoint(ipad-max) {
          display: table;
          width: 138px;
        }
        @include breakpoint(portrait-mobile-max) {
          padding-left: em(10);
          margin-bottom: em(20);
        }
      }

      &:nth-child(3) {
        margin-left: 55px;

        @include breakpoint(desktop-max) {
          margin-left: 20px;
        }
        @include breakpoint(portrait-mobile-max) {
          margin-left: 0;
        }
      }
      &:nth-child(4) {
        width: 266px;
        margin-top: 41px;
        margin-left: 26px;
        text-align: right;

        @include breakpoint(ipad-max) {
          margin-left: 60px;
        }

        @include breakpoint(portrait-mobile-max) {
          width: 100%;
          margin-left: 0;
        }

        .padding {
          padding-left: 62px;
          margin-bottom: 17px;
        }
      }

      &__title {
        padding-left: em(13, 20);
        font-size: em(20);
        font-weight: 700;
        margin-bottom: em(16, 20);
      }

      &__item {
        font-size: em(20);
        font-weight: 400;
        line-height: 1.95;
      }
    }

    &__img {
      width: 138px;
      height: 111px;
      margin: 0 0;
    }
  }

  &-bottom {
    &__title {
      padding-top: em(19);
      padding-bottom: em(56);
    }
  }
}
