.header {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: em(29.93) em(60) em(59.72);
  background: linear-gradient(
    to bottom,
    $color-green-burnham,
    rgba(0, 0, 0, 0)
  );

  @include breakpoint(mobile-max) {
    padding-right: em(40);
    padding-left: em(40);
  }

  @include breakpoint(portrait-mobile-max) {
    flex-direction: column-reverse;
    padding: em(8) em(29) em(4);
  }

  &-left {
    @include breakpoint(portrait-mobile-max) {
      margin-top: em(8);
    }
  }

  &-top {
    color: $color-white;

    &__info {
      display: inline-block;
      font-size: em(15);
      font-weight: 700;
    }

    &__price {
      margin: 0 em(6.4) 0 em(4.98);
      font-size: 1rem;
      font-weight: 700;

      @include breakpoint(portrait-mobile-max) {
        display: none;
      }
    }

    .triangle {
      position: relative;
      display: inline-block;
      border-right: em(12) solid transparent;
      border-bottom: 1.2em solid $color-white;
      border-left: em(12) solid transparent;
      margin: 0 em(8.53) 0 0;

      @include breakpoint(portrait-mobile-max) {
        display: none;
      }

      &__inner {
        position: absolute;
        top: 0.2em;
        left: -0.49em;
        display: inline-block;
        border-right: em(8) solid transparent;
        border-bottom: 0.9em solid $color-green-shamrock;
        border-left: em(8) solid transparent;
        margin: 0 em(8.53) 0 0;
      }
    }

    &__growth {
      font-size: 1rem;

      @include breakpoint(portrait-mobile-max) {
        display: none;
      }
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    padding-top: em(16.36);

    @include breakpoint(portrait-mobile-max) {
      padding-top: 0;
    }
    &__link {
      color: $color-white;

      @include breakpoint(desktop-max) {
        display: none;
      }

      &:not(:first-child) {
        margin-left: em(25.61);
      }
      &:hover {
        color: $color-white;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;

      &:hover {
        .dropbtn {
          background: transparent;
        }
      }

      &__dropbtn {
        border: none;
        background: transparent;
        color: $color-white;
        cursor: pointer;

        @include breakpoint(medium-large-desktop-max) {
          display: none;
        }

        @include breakpoint(desktop-max) {
          display: block;
        }
      }

      &-content {
        position: absolute;
        z-index: 1;
        display: none;
        max-width: 100%;
        border-radius: em(4);
        background: $color-white-seashell;
        box-shadow: 0 em(8) em(16) 0 rgba(0, 0, 0, 0.2);

        &__link {
          padding: em(6) em(17);
          color: $color-black;

          &:hover {
            background: $color-white-gainsboro;
          }
        }
      }
    }

    .active-dropdown-content {
      display: block;
    }

    .bx-search {
      position: relative;
      margin-left: em(25.61);
      color: $color-red-wenge;
      font-size: 1.5em;
      cursor: pointer;

      @include breakpoint(desktop-max) {
        top: em(1);
      }

      @include breakpoint(portrait-mobile-max) {
        top: 1.0625em;
        right: 167px;
      }

      .circle {
        position: absolute;
        left: em(3);
        width: em(8);
        height: em(8);
        border-radius: 50%;
        margin-top: 0.13em;
        background: $color-white;
        box-shadow: 0 0 em(10) $color-white;
      }
    }

    .search {
      display: none;
      border: none;
    }

    .active-search {
      display: block;
      height: em(22);
      border-radius: em(20);

      @include breakpoint(mobile-max) {
        width: em(112);
      }

      @include breakpoint(custom-small-mobile-max) {
        display: none;
      }
    }
  }

  &-right {
    display: flex;
    height: em(49);
    color: $color-white;

    @include breakpoint(portrait-mobile-max) {
      display: -webkit-box;
      flex-direction: row-reverse;
    }

    &__header {
      margin-top: em(23, 27);
      margin-right: em(4, 27);
      font-size: em(27);

      @include breakpoint(portrait-mobile-max) {
        margin-left: em(5);
      }
    }
  }
}
