.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  background: linear-gradient(
    to bottom,
    $color-green-burnham,
    rgba(0, 0, 0, 0)
  );

  .container {
    display: flex;
    justify-content: space-between;
    padding-top: em(35);
    padding-bottom: em(65);

    @include breakpoint(desktop-max) {
      padding-top: em(23.86);
      padding-bottom: em(53.65);
    }

    @include breakpoint(portrait-mobile-max) {
      padding-top: em(12.61);
      padding-bottom: em(42.4);
    }
  }

  &-top {
    color: $color-white;

    &__info {
      display: inline-block;
      font-size: em(15);
      font-weight: 700;
    }

    &__price {
      margin: 0 em(6.4) 0 em(4.98);
      font-size: 1rem;
      font-weight: 700;
    }

    .triangle {
      position: relative;
      display: inline-block;
      border-right: em(12) solid transparent;
      border-bottom: 1.2em solid $color-white;
      border-left: em(12) solid transparent;
      margin: 0 em(8.53) 0 0;

      &__inner {
        position: absolute;
        top: 0.2em;
        left: -0.49em;
        display: inline-block;
        border-right: em(8) solid transparent;
        border-bottom: 0.9em solid $color-green-shamrock;
        border-left: em(8) solid transparent;
        margin: 0 em(8.53) 0 0;
      }
    }

    &__growth {
      font-size: 1rem;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    padding-top: em(6);

    .navbar {
      display: none;
      padding: 0;

      .container-fluid {
        display: table;
        padding: 0;
      }

      &-toggler {
        border: em(1) solid $color-white;

        @include breakpoint(custom-small-mobile-max) {
          padding: 0 em(8);
        }

        .bx-menu {
          font-size: em(28);
        }
      }

      @include breakpoint(desktop-max) {
        display: block;
      }
    }

    &__link {
      color: $color-white;

      @include breakpoint(desktop-max) {
        display: none;
      }

      &:not(:first-child) {
        margin-left: em(25.61);
      }
      &:hover {
        color: $color-white;
      }
    }

    .active-dropdown-content {
      display: block;
    }

    .bx-search {
      position: relative;
      margin-left: em(25.61);
      color: $color-red-wenge;
      font-size: 1.5em;
      cursor: pointer;

      @include breakpoint(desktop-max) {
        display: none;
      }

      .circle {
        position: absolute;
        left: em(3);
        width: em(8);
        height: em(8);
        border-radius: 50%;
        margin-top: 0.13em;
        background: $color-white;
        box-shadow: 0 0 em(10) $color-white;
      }
    }

    .search {
      display: none;
      border: none;
    }

    .active-search {
      display: block;
      height: em(22);
      border-radius: em(20);

      @include breakpoint(mobile-max) {
        width: em(112);
      }

      @include breakpoint(custom-small-mobile-max) {
        display: none;
      }
    }
  }

  &-right {
    display: flex;
    height: em(49);
    color: $color-white;

    &__header {
      margin-top: em(23, 27);
      margin-right: em(4, 27);
      font-size: em(27);

      @include breakpoint(custom-small-mobile-max) {
        font-size: em(20);
      }
    }

    &__img {
      @include breakpoint(custom-small-mobile-max) {
        width: em(33);
        height: em(37);
      }
    }
  }
}
