.header {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: em(14.765) em(42.18) em(35.965) em(42.68);
  background: linear-gradient(
    to bottom,
    $color-green-burnham,
    rgba(0, 0, 0, 0)
  );

  &-top {
    height: em(19.19);
    color: $color-white;

    &__info {
      display: inline-block;
      font-size: em(15);
      font-weight: 700;
    }

    &__price {
      margin: 0 em(6.4) 0 em(4.98);
      font-size: 1rem;
      font-weight: 700;
    }

    .triangle {
      position: relative;
      display: inline-block;
      border-right: em(12) solid transparent;
      border-bottom: 1.2em solid $color-white;
      border-left: em(12) solid transparent;
      margin: 0 em(8.53) 0 0;
      &__inner {
        position: absolute;
        top: 0.2em;
        left: -0.49em;
        display: inline-block;
        border-right: em(8) solid transparent;
        border-bottom: 0.9em solid $color-green-shamrock;
        border-left: em(8) solid transparent;
        margin: 0 em(8.53) 0 0;
      }
    }

    &__growth {
      font-size: 1rem;
    }
  }

  &-bottom {
    display: flex;
    align-items: center;
    padding-top: em(16.36);
    &__title {
      color: $color-white;
      &:not(:first-child) {
        margin-left: em(25.61);
      }
      &:hover {
        color: $color-white;
      }
    }

    .bx-search {
      position: relative;
      margin-left: em(25.61);
      color: $color-red-wenge;
      font-size: 1.5em;
      cursor: pointer;
      .circle {
        position: absolute;
        width: em(8);
        height: em(8);
        border-radius: 50%;
        margin-top: 0.13em;
        margin-left: -0.83em;
        background: $color-white;
        box-shadow: 0 0 em(10) $color-white;
      }
    }

    .search{
    display: none;
    }

    .active{
      display: block;
      height: 22px;
      border-radius: 20px;
    }
  }

  &-right {
    display: flex;
    height: em(34.93);
    color: $color-white;

    &__header {
      margin-top: em(15.76, 19.7);
      margin-right: em(4, 19.7);
      font-size: em(19.7);
    }
  }
}
// background-image: linear-gradient(to bottom, #052f1c, rgba(0, 0, 0, 0)), url('../images/herobanner.jpg');

.hero {
  position: absolute;
  z-index: 1;
  top: 0;
  &-img {
    width: 100%;
  }
}
