// HelveticaNeue
@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-35Th.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-35Th.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-25UltLt.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-25UltLt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-45Lt.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-45Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-55Rm.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-55Rm.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-65Md.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-65Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-75Bd.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-75Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-95Blk.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-95Blk.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $primary-font;
  src: url("#{$fonts-path}/HelveticaNeueLT-107XBlkCn.woff2") format("woff2"),
    url("#{$fonts-path}/HelveticaNeueLT-107XBlkCn.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}
