// navigation section
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8em 2.85em 0.8em 3.868em;
  background: $color-white-snow;
  color: $color-blue-oxford;

  @include breakpoint(portrait-mobile-max) {
    padding: 0.8em em(15) 0.8em;
  }

  &-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    width: 2.93em;
    height: 2.88em;
    border-radius: 50%;

    @include breakpoint(desktop-max) {
      width: 2.57em;
      height: 2.57em;
    }
  }

  &__name {
    margin-left: 0.49em;
    color: $color-blue-oxford;
    font-size: 1.06em;
    font-weight: 900;

    @include breakpoint(desktop-max) {
      width: 6.5em;
      font-size: 0.93em;
    }
  }

  &-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;

    @include breakpoint(ipad-max) {
      display: none;
    }

    .dropdown-toggle::after {
      border: none;
    }

    .nav-link {
      padding: 0 0 0 1.563em;
      color: $color-blue-oxford;
      font-size: 0.88em;
      font-weight: 500;

      @include breakpoint(desktop-max) {
        padding: 0 0 0 1.3em;
        font-size: 0.78em;
      }

      &.firstchild {
        padding: 0;
      }
    }

    .nav-link.dropdown-toggle {
      display: flex;
      align-items: center;
    }

    .icon-arrow_down {
      margin-top: 0.1em;
      margin-left: 0.2em;
    }

    .dropbtn {
      padding: 0.63em 1.4em 0.3em;
      border: 1px solid $color-silver;
      border-radius: 3.375em;
      margin-left: 2.1em;
      cursor: pointer;

      @include breakpoint(desktop-max) {
        margin-left: 1.6em;
      }

      .icon-search {
        color: $color-blue-darkgrayish;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;

      &-content {
        position: absolute;
        z-index: 20;
        right: 0;
        display: none;
        min-width: 230px;
        border: 1px solid $color-grap-very-light;
        background-color: $color-white;
        overflow: auto;

        a {
          display: block;
          padding: 12px 16px;
          color: $color-black;
          text-decoration: none;

          &:hover {
            background-color: $color-grap-very-light;
          }
        }
      }

      &__search {
        padding: 0.87em 1.25em 0.75em 2.81em;
        border: none;
        border-bottom: 1px solid $color-grap-very-light;
        background-position: 0.87em 0.75em;
        background-repeat: no-repeat;
        font-size: 1em;

        &:focus {
          outline: 1.81em solid $color-grap-very-light;
        }
      }
    }

    .show {
      display: block;
    }
  }

  .navbar-toggler {
    color: $color-brown-pale-carmine;
  }

  .navbar-toggler,
  .offcanvas.offcanvas-end {

    @include breakpoint(ipad-min) {
      display: none;
    }

    @include breakpoint(mobile-max) {
      display: block;
    }
  }

  .offcanvas-title {
    color: $color-blue-oxford;
    font-size: 1.06em;
    font-weight: 900;
  }

  .dropdown-toggle::after {
    border: none;
  }

  .nav-link {
    font-weight: 500;
    color: $color-blue-oxford;
  }
}