// Hero Section
.hero {
  position: relative;

  &-img {
    width: 100%;

    @include breakpoint(portrait-mobile-max) {
      height: em(300);
    }
  }

  .container {
    position: relative;
    color: $color-white;
  }

  &-header {
    position: absolute;
    left: em(135);
    bottom: em(235);

    @include breakpoint(ipad-max) {
      left: em(112);
      bottom: em(155);
    }

    @include breakpoint(mobile-max) {
      bottom: em(56);
      left: em(15);
    }

    &__main {
      font-size: em(70);
      font-weight: 300;

      @include breakpoint(desktop-max) {
        font-size: em(61.44);
      }

      @include breakpoint(mobile-max) {
        font-size: em(39.3);
      }

      @include breakpoint(portrait-mobile-max) {
        font-size: em(28);
      }

      @include breakpoint(custom-small-mobile-max) {
        font-size: em(23);
      }
    }

    &__sub {
      font-size: em(80);
      font-weight: 700;

      @include breakpoint(desktop-max) {
        font-size: em(70.21);
      }

      @include breakpoint(mobile-max) {
        font-size: em(44.91);
      }

      @include breakpoint(portrait-mobile-max) {
        font-size: em(30);
      }

      @include breakpoint(custom-small-mobile-max) {
        font-size: em(27);
      }
    }
  }

  &-turnover {
    position: absolute;
    bottom: em(110);
    right: em(15);

    @include breakpoint(mobile-max) {
      bottom: em(50);
    }

    &__title {
      position: relative;
      top: em(22, 22);
      right: em(8, 22);
      font-size: em(22);
      font-weight: 700;
      text-align: right;

      @include breakpoint(desktop-max) {
        font-size: em(19.31);
      }

      @include breakpoint(mobile-max) {
        font-size: em(12.35);
      }
    }

    &__number {
      height: em(75, 80);
      font-size: em(80);
      font-weight: 950;
      text-align: right;

      @include breakpoint(desktop-max) {
        font-size: em(70.21);
      }

      @include breakpoint(mobile-max) {
        font-size: em(44.91);
      }
    }

    &-unit {
      display: flex;
      justify-content: space-between;
      padding: 0 em(7);
    }

    &__qtr {
      font-size: em(15);
      font-weight: 700;

      @include breakpoint(desktop-max) {
        font-size: em(13.16);
      }

      @include breakpoint(mobile-max) {
        font-size: em(8.42);
      }
    }

    &__price {
      font-size: em(15);
      font-weight: 700;

      @include breakpoint(desktop-max) {
        font-size: em(13.16);
      }

      @include breakpoint(mobile-max) {
        font-size: em(8.42);
      }
    }
  }
}

// Co. Growth Section
.co-growth {
  position: relative;
  background: $color-white-alabaster;

  &-topimg {
    position: absolute;
    z-index: 2;
    top: em(-88);
    width: 100%;

    @include breakpoint(desktop-max) {
      top: em(-83);
    }

    @include breakpoint(ipad-max) {
      top: em(-76);
    }

    @include breakpoint(mobile-max) {
      top: em(-71);
    }

    @include breakpoint(portrait-mobile-max) {
      top: em(-66);
    }

    @include breakpoint(custom-small-mobile-max) {
      top: em(-65);
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: em(57) em(15) 0;
    margin-top: em(57);
  }

  &-left {
    width: 12.56%;

    @include breakpoint(mobile-max) {
      width: 17%;
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
      margin-bottom: 25px;
    }

    &__title {
      width: em(134, 44);
      margin-top: em(23.7, 44);
      font-size: em(44);
      color: $color-grey-carbon;

      @include breakpoint(ipad-max) {
        font-size: em(40);
      }

      @include breakpoint(mobile-max) {
        font-size: em(28);
      }

      @include breakpoint(portrait-mobile-max) {
        width: 100%;
        margin-top: em(20, 44);
        font-size: em(44);
      }
    }

    &__know-more {
      font-size: em(20);
      font-weight: 700;
      color: $color-orange-reddish;

      @include breakpoint(desktop-max) {
        font-size: em(17.9);
      }

      @include breakpoint(mobile-max) {
        font-size: em(16);
      }

      @include breakpoint(portrait-mobile-max) {
        font-size: em(20);
      }

      &:hover {
        color: $color-orange-reddish;
      }
    }
  }

  &-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 82.39%;
    margin-left: 5.05%;

    @include breakpoint(mobile-max) {
      margin-left: 0;
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
    }
  }

  &-card {
    display: inline-block;
    width: 31.4%;
    margin-bottom: em(20);

    @include breakpoint(mobile-max) {
      width: 48%;
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
    }

    &__img {
      width: 100%;
      transition: all 0.5s ease;

      &:hover {
        box-shadow: em(-11) em(11) 0 em(2) $color-orange-beer;
      }
    }

    &__date {
      margin-top: em(29, 15);
      font-size: em(15);
      font-weight: 700;
      color: $color-grey-nickel;
    }

    &__header {
      margin-top: em(6, 22);
      font-size: em(22);
      font-weight: 700;
      color: $color-grey-carbon;
    }

    &__paragraph {
      margin-top: em(5, 18);
      font-size: em(18);
      color: $color-grey-greenish;
    }
  }
}

// Solution Section
.solution {
  position: relative;
  width: 100%;
  min-height: em(760);
  background-image: url("../images/nutrition-solution.jpg");

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: em(133);
  }

  &::before {
    top: 0;
    background-image: url("../images/nutrition-solution-top.png");
  }

  &::after {
    bottom: 0;
    background-image: url("../images/plant-nutrition-man-bottom.png");
  }

  &__img {
    z-index: 1;
    width: 100%;
  }

  .container {
    display: flex;

    @include breakpoint(desktop-max) {
      height: em(673);
    }

    @include breakpoint(portrait-mobile-max) {
      position: relative;

      & > * {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }
    }
  }

  &-left__img {
    z-index: 2;
    width: 58.6%;
    height: 74.25%;
    margin-top: 17%;

    @include breakpoint(portrait-mobile-max) {
      width: 89%;
      padding-top: em(61);
      opacity: 0.8;
    }
  }

  &-right {
    z-index: 2;
    width: 39.719%;
    margin-top: 13%;
    margin-left: em(10);
    color: $color-white;

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
      top: 26%;
      padding: 0 em(15);
    }
  }

  &-header {
    &__main {
      font-size: em(44);

      @include breakpoint(mobile-max) {
        font-size: em(38);
      }
      @include breakpoint(portrait-mobile-max) {
        font-size: em(34);
      }
    }

    &__sub {
      font-size: em(59);
      font-weight: 700;

      @include breakpoint(mobile-max) {
        font-size: em(45);
      }
      @include breakpoint(portrait-mobile-max) {
        font-size: em(39);
      }
    }
  }
}

// Growth Journey
.growth-journey {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: em(435);
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: em(436);
    background-image: url("../images/growth-journey-bg-img.jpg");
  }

  &-slider {
    z-index: 2;
    width: 100%;
    height: em(437);
    background: $color-white-alabaster;
    overflow: hidden;
    clip-path: polygon(
      0% 0%,
      0% 71%,
      20% 100%,
      64% 100%,
      94% 84%,
      127% 79%,
      100% 100%,
      40% 100%,
      100% 100%,
      100% 0%
    );
  }

  &-slides {
    display: flex;
    width: 500%;
    height: em(435);
    input {
      display: none;
    }
  }

  &-slide {
    width: 20%;
    transition: 2s;
  }

  &-content {
    position: relative;
    width: 63%;
    margin-left: em(150);
    color: $color-grey-carbon;

    @include breakpoint(mobile-max) {
      margin-left: em(85);
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
      margin: 0 em(-4);
    }
    @include breakpoint(custom-small-mobile-max) {
      margin: 0 em(5);
    }
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;

    @include breakpoint(mobile-max) {
      top: em(78);
      left: em(115);
      opacity: 0.3;
    }
  }

  &__header {
    width: em(456, 44);
    font-size: em(44);

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
    }
  }

  &__paragraph {
    width: em(415);
    margin-top: em(21);
    color: $color-grey-carbon;
    line-height: 2.13;

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
    }
  }

  // CSS For Manual slide Navigation
  .navigation-manual {
    position: absolute;
    z-index: 1;
    top: em(-32);
    left: em(148);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: em(100);
    height: em(200);

    @include breakpoint(mobile-max) {
      left: 0;
      flex-direction: row;
      width: em(200);
      height: em(20);
      margin-top: em(262);
      margin-left: em(-244);
    }
  }

  .manual-btn {
    position: relative;
    z-index: 2;
    top: em(-19);
    left: em(67);
    width: em(10);
    height: em(10);
    border-radius: 50%;
    background: $color-grey-carbon;
    margin: em(10);
    cursor: pointer;
    transition: 1s;

    @include breakpoint(mobile-max) {
      margin: em(24);
    }

    &:nth-child(1) {
      margin-left: em(-10);
      @include breakpoint(mobile-max) {
        margin-left: 0;
      }
    }
    &:nth-child(2) {
      margin-left: em(10);
      @include breakpoint(mobile-max) {
        margin-left: 0;
      }
    }
    &:nth-child(3) {
      margin-left: em(22);
      @include breakpoint(mobile-max) {
        margin-left: 0;
      }
    }
    &:nth-child(4) {
      margin-left: em(23);
      @include breakpoint(mobile-max) {
        margin-left: 0;
      }
    }
    &:nth-child(5) {
      margin-left: em(17);
      @include breakpoint(mobile-max) {
        margin-left: 0;
      }
    }
    &:nth-child(6) {
      margin-left: em(3);
      @include breakpoint(mobile-max) {
        margin-left: 0;
      }
    }
  }

  #radio1:checked ~ .first {
    margin-left: 0;
  }
  #radio2:checked ~ .first {
    margin-left: -20%;
  }
  #radio3:checked ~ .first {
    margin-left: -40%;
  }
  #radio4:checked ~ .first {
    margin-left: -60%;
  }

  // CSS For Automatic Navigation
  .navigation-auto {
    position: absolute;
    left: 63%;
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: em(120);

    @include breakpoint(ipad-max) {
      left: 53%;
    }

    [class*="auto-btn"] {
      @include breakpoint(mobile-max) {
        display: none;
      }
    }

    div {
      &:not(:last-child) {
        margin-right: em(50);
        margin-top: em(-20);
      }
    }
  }

  #radio1:checked ~ .navigation-auto .auto-btn1 {
    top: -27px;
    left: 190px;
    @include breakpoint(mobile-max) {
      top: 0;
      left: 0;
    }
  }
  #radio2:checked ~ .navigation-auto .auto-btn2 {
    top: 2px;
    left: 159px;
    @include breakpoint(mobile-max) {
      top: 0;
      left: 0;
    }
  }
  #radio3:checked ~ .navigation-auto .auto-btn3 {
    top: 29px;
    left: 123px;
    @include breakpoint(mobile-max) {
      top: 0;
      left: 0;
    }
  }
  #radio4:checked ~ .navigation-auto .auto-btn4 {
    top: 59px;
    left: 70px;
    @include breakpoint(mobile-max) {
      top: 0;
      left: 0;
    }
  }

  #radio1:checked ~ .navigation-auto .auto-btn1,
  #radio2:checked ~ .navigation-auto .auto-btn2,
  #radio3:checked ~ .navigation-auto .auto-btn3,
  #radio4:checked ~ .navigation-auto .auto-btn4 {
    position: relative;
    z-index: 3;
    width: em(40);
    height: em(40);
    background: $color-orange-beer;
    border-radius: 50%;

    &::before,
    &::after {
      position: absolute;
      font-size: em(20);
      font-weight: 900;
      color: $color-white;
    }

    &::before {
      content: "<";
      left: em(10, 20);
      top: 0;
      transform: rotate(51deg);
    }

    &::after {
      content: "<";
      top: em(11, 20);
      left: em(19, 20);
      transform: rotate(227deg);
    }
  }
}

// Awards & Recognitions
.awards {
  position: relative;
  width: 100%;
  min-height: em(693);

  & > * {
    position: absolute;
  }

  @include breakpoint(mobile-max) {
    min-height: em(560);
  }

  @include breakpoint(portrait-mobile-max) {
    min-height: em(900);
  }

  &__img {
    width: 100%;
    height: em(693);
    z-index: 1;

    @include breakpoint(mobile-max) {
      height: em(560);
    }

    @include breakpoint(portrait-mobile-max) {
      display: none;
    }
  }

  // Awards & Rec
  &-reco {
    position: absolute;
    z-index: 2;
    display: flex;
    width: em(611);
    padding: em(38.5) em(65) em(44.5) em(49);
    background: $color-white;

    @include breakpoint(desktop-max) {
      width: em(540);
      padding: em(35);
    }

    @include breakpoint(ipad-max) {
      width: em(479.53);
      padding: em(27.93) em(47.15) em(32.28) em(35.54);
    }

    @include breakpoint(mobile-max) {
      width: em(300);
      padding: em(20) em(20) em(5) em(20);
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
      padding: em(38.5) em(65) em(44.5) em(15);
    }

    @include breakpoint(custom-small-mobile-max) {
      padding: em(55) em(10) em(28);
    }

    &__icon {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
    }

    &__header {
      width: em(254, 44);
      font-size: em(44);
      color: #5e6052;

      @include breakpoint(mobile-max) {
        font-size: em(24.7);
      }

      @include breakpoint(portrait-mobile-max) {
        font-size: em(27);
      }

      @include breakpoint(custom-small-mobile-max) {
        font-size: em(30);
      }
    }

    .arrow {
      position: relative;
      left: em(75);
      height: em(192);

      @include breakpoint(desktop-max) {
        left: 30px;
      }

      @include breakpoint(ipad-max) {
        left: 0;
      }

      @include breakpoint(mobile-max) {
        left: em(12);
      }

      @include breakpoint(portrait-mobile-max) {
        left: 0;
      }

      @include breakpoint(custom-small-mobile-max) {
      }

      &__top {
        position: absolute;
        width: em(1);
        height: em(80);
        background: #c5bdbd;
        &::after {
          content: "";
          position: absolute;
          left: em(6);
          bottom: em(-18);
          width: em(1);
          height: em(20);
          background: #c5bdbd;
          transform: rotate(329deg);
        }
      }
      &__bottom {
        position: absolute;
        bottom: 0;
        width: em(1);
        height: em(80);
        background: #c5bdbd;
        &::before {
          content: "";
          position: absolute;
          top: em(-18);
          left: em(5);
          width: em(1);
          height: em(20);
          background: #c5bdbd;
          transform: rotate(35deg);
        }
      }
    }

    &__img {
      position: absolute;
      right: em(65);

      @include breakpoint(mobile-max) {
        z-index: 1;
        right: 0;
      }

      @include breakpoint(portrait-mobile-max) {
        right: em(65);
      }
      @include breakpoint(custom-small-mobile-max) {
        right: 0;
      }
    }
  }

  // GROMOR
  &-gromor {
    z-index: 2;
    right: 0;
    width: em(297);
    background: white;
    height: 100%;

    @include breakpoint(ipad-max) {
      width: em(215.46);
    }

    @include breakpoint(portrait-mobile-max) {
      left: 0;
      bottom: 0;
      width: 100%;
      height: em(227);
    }

    &__img {
      position: absolute;
      bottom: em(62);
      left: em(36);

      @include breakpoint(ipad-max) {
        width: em(215.45);
        left: 0;
      }

      @include breakpoint(mobile-max) {
        bottom: em(32);
      }

      @include breakpoint(portrait-mobile-max) {
        position: relative;
        bottom: 0;
        display: flex;
        margin: 0 auto;
      }
    }
  }

  // 02nd
  &-number {
    z-index: 3;
    right: 0;
    width: em(368);
    padding: em(67) em(73) em(56) em(74);
    background: #ffb016;

    @include breakpoint(desktop-max) {
      width: 342px;
      padding: 58px;
    }

    @include breakpoint(ipad-max) {
      width: em(266.97);
      padding: em(48.6) em(52.95) em(40.62) em(53.68);
    }

    @include breakpoint(mobile-max) {
      width: 250px;
    }

    @include breakpoint(portrait-mobile-max) {
      left: 0;
      top: em(278);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__second {
      color: white;
      font-size: em(133);
      font-weight: 700;
      line-height: em(162, 133);

      @include breakpoint(ipad-max) {
        font-size: em(96.48);
      }

      @include breakpoint(mobile-max) {
        font-size: em(54.17);
      }

      .sup {
        position: relative;
        top: -59px;
        left: 8px;
        font-size: 40px;
        font-weight: 700;

        @include breakpoint(mobile-max) {
          top: -18px;
          font-size: 26px;
        }
      }
    }

    &__paragraph {
      font-size: em(22);
      font-weight: 700;
      color: white;

      @include breakpoint(ipad-max) {
        font-size: em(15.96);
      }
    }
  }

  // Crop Protection
  &-protection {
    z-index: 2;
    bottom: 0;
    width: em(391);
    margin-bottom: em(75);
    margin-left: em(63);
    background: transparent;
    color: $color-white;

    @include breakpoint(ipad-max) {
      margin-left: em(45.7);
    }

    @include breakpoint(mobile-max) {
      bottom: em(50);
      margin-bottom: 0;
    }

    @include breakpoint(portrait-mobile-max) {
      bottom: 230px;
      display: flex;
      flex-direction: column;
      place-items: center;
      width: 100%;
      margin: 0 auto;
      color: rgb(82, 71, 71);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: em(61);
      height: em(5);
      background-image: linear-gradient(88deg, #f57629, #ffb016 107%);

      @include breakpoint(portrait-mobile-max) {
        left: 167px;
      }

      @include breakpoint(custom-small-mobile-max) {
        left: 40px;
      }
    }

    &__header {
      margin-top: em(15, 59);
      font-size: em(59);
      font-weight: 700;
      line-height: 1.08;

      @include breakpoint(mobile-max) {
        font-size: em(33.12);
      }

      @include breakpoint(portrait-mobile-max) {
        margin: 20px;
      }
    }

    &__paragraph {
      font-size: em(22);
      font-weight: 700;

      @include breakpoint(mobile-max) {
        font-size: em(18);
      }

      @include breakpoint(portrait-mobile-max) {
        margin-bottom: 20px;
      }
    }
  }
}

// GROMOR SURAKSHA
.gromor-suraksha {
  display: flex;
  align-items: center;
  width: 100%;
  padding: em(175) em(36) 0 em(63);

  @include breakpoint(portrait-mobile-max) {
    flex-direction: column;
  }

  img:first-child {
    width: em(161);
    height: em(177);
  }

  &__our-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      @include breakpoint(portrait-mobile-max) {
        margin-left: 8px;
      }
    }

    @include breakpoint(desktop-max) {
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
      margin-left: 28px;
    }
  }
}

// Co. Chairman
.co-chairman {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    height: em(175);
    border-bottom-right-radius: em(200);
    background: $color-white;

    @include breakpoint(desktop-max) {
      height: em(114);
    }

    @include breakpoint(ipad-max) {
      height: em(118);
    }

    @include breakpoint(mobile-max) {
      height: em(89);
    }

    @include breakpoint(portrait-mobile-max) {
      height: em(67);
    }
  }

  &__bg-img {
    z-index: 1;
    width: 100%;

    @include breakpoint(portrait-mobile-max) {
      height: em(700);
    }
  }

  &-details {
    position: absolute;
    z-index: 1;
    top: 0;
    width: em(855);
    min-height: em(490);
    margin-top: em(175);
    background: #00000040;
    color: $color-white;

    @include breakpoint(desktop-max) {
      width: em(759);
      min-height: em(405);
      margin-top: em(113);
    }

    @include breakpoint(ipad-max) {
      width: em(483);
      margin-top: em(44);
    }

    @include breakpoint(mobile-max) {
      min-height: em(291);
    }

    @include breakpoint(portrait-mobile-max) {
      width: 64%;
      top: em(269);
      margin-top: 0;
    }
  }

  &-content {
    width: em(471);
    margin-top: em(140);
    margin-left: em(57);

    @include breakpoint(desktop-max) {
      margin-top: em(75);
    }

    @include breakpoint(ipad-max) {
      position: absolute;
      top: em(73);
      width: em(439);
      margin: 0;
    }

    @include breakpoint(mobile-max) {
      top: em(44);
    }

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
    }

    @include breakpoint(portrait-mobile-max) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: em(13);
    }
  }

  &__name {
    font-size: em(44);
    font-weight: 700;

    @include breakpoint(ipad-max) {
      font-size: em(30);
    }

    @include breakpoint(portrait-mobile-max) {
      font-size: em(18);
    }
  }

  &__position {
    margin-top: em(11, 20);
    margin-bottom: em(18, 20);
    font-size: em(20);
    font-weight: 700;

    @include breakpoint(ipad-max) {
      margin: 0;
    }
  }

  &__paragraph {
    @include breakpoint(mobile-max) {
      line-height: 21px;
    }
    @include breakpoint(portrait-mobile-max) {
      // font-size: em(12);
    }
  }

  &__img {
    position: absolute;
    z-index: 2;
    top: em(270);
    right: em(122);

    @include breakpoint(desktop-max) {
      top: em(178);
      right: em(36);
    }

    @include breakpoint(ipad-max) {
      top: em(120);
      right: em(10);
      width: em(216);
      height: em(244);
    }

    @include breakpoint(mobile-max) {
      top: em(91);
      right: em(1);
    }

    @include breakpoint(portrait-mobile-max) {
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
}
