// Hero Section
.hero {
  position: relative;
  z-index: 1;
  top: 0;

  &-img {
    width: 100%;
  }

  &-content {
    position: absolute;
    top: 0;
    margin-top: em(247);
    margin-left: em(180);
    color: $color-white;

    @include breakpoint(desktop-max) {
      margin-top: em(216.8);
      margin-left: em(158);
    }

    @include breakpoint(ipad-max) {
      margin-left: em(130.58);
    }

    @include breakpoint(mobile-max) {
      margin-top: em(170);
      margin-left: em(65);
    }

    @include breakpoint(portrait-mobile-max) {
      margin-top: em(135);
      margin-left: em(28);
    }

    &_top {
      font-size: em(70);
      font-weight: 300;

      @include breakpoint(desktop-max) {
        font-size: em(61.44);
      }

      @include breakpoint(mobile-max) {
        font-size: em(39.3);
      }

      @include breakpoint(portrait-mobile-max) {
        font-size: em(28);
      }

      @include breakpoint(custom-small-mobile-max) {
        font-size: em(23);
      }

      .shadow {
        text-shadow: em(8, 70) 0 0 $color-white;
      }
    }

    &_bottom {
      font-size: em(80);
      font-weight: 700;

      @include breakpoint(desktop-max) {
        font-size: em(70.21);
      }

      @include breakpoint(mobile-max) {
        font-size: em(44.91);
      }

      @include breakpoint(portrait-mobile-max) {
        font-size: em(30);
      }

      @include breakpoint(custom-small-mobile-max) {
        font-size: em(27);
      }
    }

    &_btn {
      padding: em(7.72, 20) em(27.74, 20) em(6.29, 20) em(28.45, 20);
      border-radius: em(40);
      margin-top: em(17.07, 20);
      background-image: linear-gradient(
        to right,
        $color-orange-burning,
        $color-orange-beer
      );
      color: $color-white;
      font-size: em(20);
      font-weight: 700;

      @include breakpoint(desktop-max) {
        font-size: em(17.55);
      }

      @include breakpoint(mobile-max) {
        font-size: em(11.22);
      }

      @include breakpoint(custom-small-mobile-max) {
        margin-top: 0;
      }

      &:hover {
        color: $color-white;
      }
    }
  }

  &-turnover {
    position: absolute;
    right: em(60);
    bottom: em(88.7);
    color: $color-white;

    @include breakpoint(ipad-max) {
      right: em(40);
    }

    @include breakpoint(portrait-mobile-max) {
      right: em(29);
      bottom: em(20);
    }

    @include breakpoint(custom-small-mobile-max) {
      right: em(23);
    }

    &__title {
      position: relative;
      top: em(22, 22);
      right: em(8, 22);
      font-size: em(22);
      font-weight: 700;
      text-align: right;

      @include breakpoint(desktop-max) {
        font-size: em(19.31);
      }

      @include breakpoint(mobile-max) {
        font-size: em(12.35);
      }
    }
    &__number {
      height: em(75, 80);
      font-size: em(80);
      font-weight: 950;
      text-align: right;

      @include breakpoint(desktop-max) {
        font-size: em(70.21);
      }

      @include breakpoint(mobile-max) {
        font-size: em(44.91);
      }
    }
    &-unit {
      display: flex;
      justify-content: space-between;
      padding: 0 em(7);
    }

    &__qty {
      font-size: em(15);
      font-weight: 700;

      @include breakpoint(desktop-max) {
        font-size: em(13.16);
      }

      @include breakpoint(mobile-max) {
        font-size: em(8.42);
      }
    }

    &__price {
      font-size: em(15);
      font-weight: 700;

      @include breakpoint(desktop-max) {
        font-size: em(13.16);
      }

      @include breakpoint(mobile-max) {
        font-size: em(8.42);
      }
    }
  }
}

// Co. Growth Section
.co-growth {
  position: relative;

  &-topimg {
    position: absolute;
    z-index: 2;
    top: em(-30);
    width: 100%;

    @include breakpoint(desktop-max) {
      top: em(-25);
    }

    @include breakpoint(ipad-max) {
      top: em(-18);
    }

    @include breakpoint(mobile-max) {
      top: em(-13);
    }

    @include breakpoint(portrait-mobile-max) {
      top: em(-9);
    }

    @include breakpoint(custom-small-mobile-max) {
      top: em(-8);
    }
  }

  &-container {
    position: absolute;
    display: flex;
    width: 100%;
    padding: em(57) em(50) 0 em(63);
    margin-top: 57px;
    background: $color-white-alabaster;

    @include breakpoint(portrait-mobile-max) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: em(57) 0 0;
    }
  }

  &-left {
    @include breakpoint(portrait-mobile-max) {
      margin-bottom: em(57);
    }

    &__title {
      width: em(134, 44);
      margin-top: em(23.7, 44);
      font-size: em(44);
      color: $color-grey-carbon;

      @include breakpoint(portrait-mobile-max) {
        width: 100%;
      }
    }

    &__know-more {
      font-size: em(20);
      font-weight: 700;
      color: $color-orange-reddish;

      &:hover {
        color: $color-orange-reddish;
      }
    }
  }

  &-right {
    display: flex;
    flex-wrap: wrap;
    gap: em(21);
    padding-right: em(50);
    padding-left: em(154);

    @include breakpoint(desktop-max) {
      padding-left: em(120);
    }

    @include breakpoint(mobile-max) {
      padding-left: em(38);
    }

    @include breakpoint(portrait-mobile-max) {
      flex-direction: column;
      gap: 0;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
  }

  &-card {
    width: em(276);

    @include breakpoint(portrait-mobile-max) {
      margin-bottom: em(20);
    }

    &__img {
      &--yellow {
        box-shadow: em(-11) em(11) 0 em(2) #ffb016;
      }
    }

    &__date {
      margin-top: em(29, 15);
      font-size: em(15);
      font-weight: 700;
      color: $color-grey-nickel;
    }

    &__header {
      margin-top: em(6, 22);
      font-size: em(22);
      font-weight: 700;
      color: $color-grey-carbon;
    }

    &__paragraph {
      margin-top: em(5, 18);
      font-size: em(18);
      color: $color-grey-greenish;
    }
  }
}

.main {
  margin-bottom: 2000px;
}

@include breakpoint(custom-small-mobile-max) {
}
