*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // border: 1px solid yellow;
}

body {
  color: $color-black;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}
