// font family
$primary-font-circular-std: "Circular Std";
$secondary-font-roboto: "Roboto";

// fonts path
$fonts-path: "../fonts" !default;

// icomoon variables
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-call: "\e900";
$icon-letter: "\e901";
$icon-arrow_down: "\e902";
$icon-search: "\e903";
$icon-arrow_right: "\e904";
$icon-arrow_left: "\e905";
$icon-location: "\e906";
$icon-mail: "\e907";
