// ----------------colors----------------
$color-brown-old-brick: #841e25;
$color-white: #fff;
$color-white-snow: #fbf9f9;
$color-white-boulder: #7d7d7d;
$color-white-ebb: #e6dada;
$color-black: #000;
$color-black-russian: #1f1f24;
$color-silver: #bdbdbd;
$color-green-atlantis: #70c217;
$color-blue-oxford: #002147;
$color-blue-darkgrayish: #212529;
$color-blue-dark: #1C2021;
$color-blue-limed-spruce:#37474F;
$color-yellow-orange: #ffba49;
$color-grap-very-light: #ddd;
$color-grap-dark: #373737;

// ----------------font family------------
$primary-font: "Circular Std";
$secondary-font: "Roboto";
$tertiary-font: "Metropolis";

// ----------------fonts path-------------
$fonts-path: "../fonts" !default;

// ----------------icomoon variables------
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-call: "\e900";
$icon-letter: "\e901";
$icon-arrow_down: "\e902";
$icon-search: "\e903";
$icon-arrow_right: "\e904";
$icon-arrow_left: "\e905";
$icon-location: "\e906";
$icon-mail: "\e907";

// ------------------font size------------------
$browser-context: 16;
