// font family
$primary-font: "Montserrat", sans-serif;

// color
$color-black: #000;
$color-white: #fff;
$color-white-Ebb: #f0ebeb;
$color-gray-light-shade: #ced4da;
$color-gray-storm: #7a7d8a;
$color-white-azure4: #fbf8f88a;
$color-white-Zircon: #fafbff;
$color-orange: #f58025;
$color-blue-French-Gray: #bdbfc9;
$color-blue-Deep-Sapphire: #0b257a;
$color-black-Tundora: #494949;

// fonts path
$fonts-path: "../fonts" !default;

// icomoon variables
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-manage_your: "\e900";
$icon-rich_interconnection: "\e901";
$icon-experiance_easy: "\e902";
$icon-world_class_colo: "\e903";
$icon-unlock_the: "\e904";
$icon-effortlesslely: "\e905";
$icon-stay: "\e906";
$icon-unconditional: "\e907";
$icon-VMX_infinity: "\e908";
$icon-VMX-DR: "\e909";
$icon-public_cloud: "\e90a";
$icon-connected: "\e90b";
$icon-next_gen: "\e90c";
$icon-full_stack: "\e90d";
$icon-cloud: "\e90e";
$icon-decades: "\e90f";
$icon-coustomazid: "\e910";
$icon-world-class-support: "\e911";
$icon-f: "\e912";
$icon-t: "\e913";
$icon-in: "\e914";
$icon-arrow: "\e915";
