// Color
$color-black: #000000;

// font family
$primary-font: "Open Sans";

// fonts path
$fonts-path: "../fonts" !default;

// icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-uniE900: "\e900";
$icon-assessment-master: "\e901";
$icon-asset--management: "\e902";
$icon-check: "\e903";
$icon-close: "\e904";
$icon-container-management-path1: "\e905";
$icon-container-management-path2: "\e906";
$icon-container-management-path3: "\e907";
$icon-container-management-path4: "\e908";
$icon-dashboard: "\e909";
$icon-Download: "\e90a";
$icon-left-arrow: "\e90b";
$icon-menu: "\e90c";
$icon-pencil: "\e90d";
$icon-project-status-report-path1: "\e90e";
$icon-project-status-report-path2: "\e90f";
$icon-project-status-report-path3: "\e910";
$icon-project-status-report-path4: "\e911";
$icon-question-mark: "\e912";
$icon-report: "\e913";
$icon-right-arrow: "\e914";
$icon-select-workspace: "\e915";
$icon-up-arrow: "\e916";
$icon-upload: "\e917";
$icon-user-management: "\e918";
$icon-view: "\e919";

