.header {
  &__btn {
    display: inline-block;
    font-size: 0.786em;
    font-family: $primary-font;
    font-weight: 900;
    color: $color-black;
    background: $color-white;
    border-radius: 1.8em;
    margin-right: 1.71em;
    padding: 0.59em 2.13em 0.4em;

    &:hover {
      color: $color-black;
    }
  }
}

.supervisor {
  &__name {
    position: absolute;
    bottom: -16px;
    left: 46px;
    width: 16em;
    display: inline-block;
    font-size: em(17.92);
    font-weight: 500;
    background: $color-yellow-orange;
    border-radius: 0.34em;
    padding: 0.93em 5.52em;
    cursor: pointer;

    @include breakpoint(ipad-max) {
      bottom: -3px;
      left: 80px;
      width: 20em;
      text-align: center;
    }

    @include breakpoint(mobile-max) {
      bottom: -5px;
      text-align: center;
    }

    @include breakpoint(portrait-mobile-max) {
      bottom: -18px;
      left: 47px;
      width: 15em;
      padding: 0.93em 4.52em;
    }

    @include breakpoint(custom-small-mobile-max) {
      left: em(24);
      bottom: em(-21);
    }
  }
}

.goal {
  &-mission,
  &-vision {
    &__btn {
      font-size: em(15.65);
      font-weight: 400;
      display: inline-block;
      color: $color-blue-darkgrayish;
      background: $color-white;
      border-radius: em(32);
      padding: em(10.9, 15.65) em(34.87, 15.65);

      &:hover {
        color: $color-blue-darkgrayish;
      }
    }
  }
}
