// ------------navigation section------------
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $color-blue-oxford;
  background: $color-white-snow;
  padding: 0.8em 2.85em 0.8em 3.868em;
  @include breakpoint(portrait-mobile-max) {
    padding: 0.8em em(15) 0.8em ;
  }
  

  &-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    width: 2.93em;
    height: 2.88em;
    border-radius: 50%;
    @include breakpoint(desktop-max) {
      width: 2.57em;
      height: 2.57em;
    }
  }

  &__name {
    font-size: 1.06em;
    font-weight: 900;
    color: $color-blue-oxford;
    margin-left: 0.49em;

    @include breakpoint(desktop-max) {
      width: 6.5em;
      font-size: 0.93em;
    }
  }

  &-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include breakpoint(ipad-max) {
      display: none;
    }

    .dropdown-toggle::after {
      border: none;
    }

    .nav-link {
      font-size: 0.88em;
      font-weight: 500;
      color: $color-blue-oxford;
      padding: 0 0 0 1.563em;
      @include breakpoint(desktop-max) {
        font-size: 0.78em;
        padding: 0 0 0 1.3em;
      }

      &.firstchild {
        padding: 0;
      }
    }

    .nav-link.dropdown-toggle {
      display: flex;
      align-items: center;
    }

    .icon-arrow_down {
      margin-top: 0.1em;
      margin-left: 0.2em;
    }

    .dropbtn {
      border: 1px solid $color-silver;
      border-radius: 3.375em;
      margin-left: 2.1em;
      padding: 0.63em 1.4em 0.3em;
      cursor: pointer;

      @include breakpoint(desktop-max) {
        margin-left: 1.6em;
      }

      .icon-search {
        // font-size: 1.08em;
        // font-weight: 500;
        color: $color-blue-darkgrayish;
      }
    }

    .dropdown {
      position: relative;
      display: inline-block;
      &-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: $color-white;
        min-width: 230px;
        overflow: auto;
        border: 1px solid $color-grap-very-light;
        z-index: 20;
        a {
          color: $color-black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: $color-grap-very-light;
          }
        }
      }
      &__search {
        background-position: 0.87em 0.75em;
        background-repeat: no-repeat;
        font-size: 1em;
        padding: 0.87em 1.25em 0.75em 2.81em;
        border: none;
        border-bottom: 1px solid $color-grap-very-light;
        &:focus {
          outline: 1.81em solid $color-grap-very-light;
        }
      }
    }

    .show {
      display: block;
    }
  }

  .navbar-toggler{
    color: #a7383f;
  }

  .navbar-toggler,
  .offcanvas.offcanvas-end {
    @include breakpoint(medium-large-desktop-max) {
      display: none;
    }
    @include breakpoint(ipad-max) {
      display: block;
    }
  }

  .offcanvas-title {
    font-size: 1.06em;
    font-weight: 900;
    color: $color-blue-oxford;
  }

  .dropdown-toggle::after {
    border: none;
  }

  .nav-link {
    font-weight: 500;
    color: $color-blue-oxford;
  }
}
