//  ---------------hero banner---------------
.hero-banner {
  position: relative;
  height: 40.75em;
  @include breakpoint(desktop-max) {
    height: em(524);
  }

  @include breakpoint(ipad-max) {
    height: em(428);
  }

  @include breakpoint(mobile-max) {
    height: em(364);
  }

  @include breakpoint(portrait-mobile-max) {
    height: 17.75em;
  }

  @include breakpoint(custom-small-mobile-max) {
    height: 14.75em;
  }

  img {
    position: absolute;
    width: 100%;
    height: 40.75em;

    @include breakpoint(desktop-max) {
      height: em(524);
    }

    @include breakpoint(ipad-max) {
      height: em(428);
    }

    @include breakpoint(mobile-max) {
      height: em(364);
    }

    @include breakpoint(portrait-mobile-max) {
      height: 17.75em;
    }

    @include breakpoint(custom-small-mobile-max) {
      height: 14.75em;
    }
  }

  &__back-img {
    z-index: 1;
  }

  &__front-img {
    background: linear-gradient(#1f1f24d6, #000000b8);
    z-index: 3;

    @include breakpoint(custom-small-mobile-max) {
      display: none;
    }
  }

  .container {
    position: absolute;
    width: em(530);
    margin-top: em(146.56);
    margin-left: 7.83em;
    z-index: 3;
    @include breakpoint(desktop-max) {
      margin-top: em(82.56);
      margin-left: em(93.28);
    }

    @include breakpoint(mobile-max) {
      width: 29.125em;
      margin-top: 3.16em;
      margin-left: em(55);
    }

    @include breakpoint(portrait-mobile-max) {
      width: 18.125em;
      margin-top: 1.16em;
      margin-left: em(15);
    }

    @include breakpoint(custom-small-mobile-max) {
      width: 15em;
    }
  }

  &__header {
    font-size: 3.11em;
    font-weight: 700;
    color: $color-white;

    @include breakpoint(desktop-max) {
      font-size: em(43.71);
    }

    @include breakpoint(ipad-max) {
      font-size: em(36.13);
      line-height: 1;
    }

    @include breakpoint(mobile-max) {
      font-size: em(28);
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(22);
    }
  }

  &__para {
    font-size: 0.97em;
    font-weight: 500;
    color: $color-white-boulder;
    padding-top: 2.25em;
    padding-right: em(30);
    padding-bottom: 1.84em;

    @include breakpoint(desktop-max) {
      font-size: em(13.73);
      padding-right: em(161, 13.73);
    }

    @include breakpoint(ipad-max) {
      padding-top: em(27, 13.73);
      padding-right: em(234.921, 13.73);
      padding-bottom: em(23, 13.73);
    }

    @include breakpoint(mobile-max) {
      padding-right: em(220, 13.73);
    }

    @include breakpoint(portrait-mobile-max) {
      padding-right: 0;
      padding-top: em(20);
      padding-bottom: em(20);
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(11);
      padding-top: 1.1em;
      padding-bottom: 1em;
    }
  }

  &__btn {
    width: em(186.4, 15.65);
    font-size: em(15.65);
    font-weight: 900;
    color: $color-white;
    background: $color-brown-old-brick;
    border-radius: em(32, 15.65);
    padding: em(16.36, 15.65) em(38.41, 15.65);

    @include breakpoint(desktop-max) {
      font-size: em(13.73);
    }

    @include breakpoint(mobile-max) {
      font-size: em(12);
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(10);
    }

    .icon-arrow_right {
      font-size: em(13);
      padding-left: 0.83em;
    }

    &:hover {
      color: $color-white;
    }
  }
}

// ----------------supervisor----------------
.supervisor {
  display: flex;
  padding: 8.32em 15.92em 0 17.04em;

  @include breakpoint(desktop-max) {
    padding: 6.14em 8.04em 0;
  }

  @include breakpoint(ipad-max) {
    flex-direction: column;
    padding-bottom: em(151);
    // padding: em(97) em(205) em(151) em(151);
    align-items: center;
  }

  @include breakpoint(mobile-max) {
    padding: 6.14em 0;
  }

  @include breakpoint(custom-small-mobile-max) {
    padding: 5em 0;
  }

  &-left {
    position: relative;
    margin-bottom: em(195.2);
    @include breakpoint(ipad-max) {
      margin-bottom: 0;
    }
  }

  &__circle {
    position: absolute;
    top: -45px;
    left: -37px;
    width: 7.19em;
    height: 7.19em;
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    border: 1.61em solid $color-brown-old-brick;
  }

  &__img {
    width: 24.06em;
    height: auto;

    @include breakpoint(ipad-max) {
      width: em(540);
    }

    @include breakpoint(mobile-max) {
      width: 500px;
    }

    @include breakpoint(portrait-mobile-max) {
      width: em(360);
    }

    @include breakpoint(custom-small-mobile-max) {
      width: em(320);
    }
  }

  &-right {
    position: relative;
    padding-left: 1.87em;

    @include breakpoint(ipad-max) {
      width: em(559);
      padding-top: em(32);
      padding-right: em(20);
    }

    @include breakpoint(mobile-max) {
      margin-top: 1.875em;
      padding-top: 0;
    }

    @include breakpoint(portrait-mobile-max) {
      width: em(360);
    }

    @include breakpoint(custom-small-mobile-max) {
      width: em(320);
    }
  }

  &__dottedcircle {
    position: absolute;
    top: -23px;
    right: em(16);
    width: 8.8em;
    line-height: em(13);
    @include breakpoint(desktop-max) {
      top: -29px;
      right: 0em;
    }

    @include breakpoint(ipad-max) {
      top: em(5);
      right: em(4);
    }

    @include breakpoint(mobile-max) {
      right: 3px;
      top: -24px;
    }

    @include breakpoint(portrait-mobile-max) {
      right: 59px;
      top: 12px;
    }

    @include breakpoint(custom-small-mobile-max) {
      right: 19px;
      top: 12px;
    }

    .dot {
      width: 0.14em;
      height: 0.14em;
      display: inline-block;
      background: $color-brown-old-brick;
      border-radius: 50%;
      margin-left: 0.5em;
    }
  }

  &__title {
    font-size: em(34);
    font-weight: 700;
    color: $color-blue-oxford;
    padding-right: 0.83em;
    padding-bottom: 0.87em;

    @include breakpoint(ipad-max) {
      padding-right: 0;
      padding-bottom: em(21, 34);
    }

    @include breakpoint(mobile-max) {
      padding-bottom: 0.5em;
    }
  }

  &__para {
    font-size: 1.07em;
    font-weight: 500;
  }
}

// -------------------goal-------------------
.goal {
  position: relative;
  width: 100%;
  background: $color-brown-old-brick;
  z-index: 1;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: em(22.05);
    background: $color-white;
  }

  &:before {
    top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &:after {
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  &-mission,
  &-vision {
    display: flex;
    color: $color-white;

    &__img {
      width: 19.08em;
      height: 24.37em;
      border-radius: 1.125em;
      z-index: 2;

      @include breakpoint(mobile-max) {
        margin-left: em(70);
      }
    }

    &__title {
      font-size: em(34.15);
      font-weight: 700;
    }

    &__paragraph {
      font-size: em(15.65);
      font-weight: 400;
      font-family: $secondary-font;
      padding-top: em(21.34);
    }

    &__list {
      font-size: em(15.65);
      font-weight: 400;
      font-family: $secondary-font;
      margin-bottom: 0;
      padding-left: 16px;
      padding-bottom: em(15.68);
    }
  }

  &-mission {
    padding-left: 11.79em;

    @include breakpoint(desktop-max) {
      padding-left: 0;
    }

    @include breakpoint(mobile-max) {
      flex-direction: column;
    }

    &__smallcircle {
      position: absolute;
      top: em(120.94);
      left: em(108.85);
      width: em(61);
      height: em(61);
      display: inline-block;
      background-color: transparent;
      border-radius: 50%;
      border: em(3.55) solid $color-yellow-orange;

      @include breakpoint(desktop-max) {
        left: em(10);
        width: em(55);
        height: em(55);
      }
    }

    &__bigcircle {
      position: absolute;
      top: 11.5em;
      left: em(120.94);
      width: em(266);
      height: em(266);
      display: inline-block;
      background-color: transparent;
      border-radius: 50%;
      border: em(3.55) solid $color-yellow-orange;
      z-index: 1;

      @include breakpoint(desktop-max) {
        left: 0;
        width: em(255);
        height: em(255);
      }

      .dottedcircle {
        position: relative;
        top: 7em;
        right: em(31);
        display: inline-block;
        width: 11.25em;
        line-height: em(31);

        @include breakpoint(desktop-max) {
          right: em(0);
          line-height: em(17.5);
        }

        .dot {
          width: em(4.24);
          height: em(4.24);
          display: inline-block;
          background: $color-green-atlantis;
          border-radius: 50%;
          margin-left: em(27);
        }
      }
    }

    &__img {
      @include breakpoint(desktop-max) {
        margin-left: em(70);
      }

      @include breakpoint(portrait-mobile-max) {
        margin: 0 auto;
      }
    }

    .container {
      padding-top: em(96.75);
      padding-right: 25.44em;
      padding-left: 2.41em;

      @include breakpoint(desktop-max) {
        padding-left: em(35);
        padding-right: em(70);
      }

      @include breakpoint(mobile-max) {
        max-width: 100%;
        margin: 0;
        padding: em(35) em(35) em(35) em(70);
      }

      @include breakpoint(portrait-mobile-max) {
        padding-left: em(27.35);
      }

      @include breakpoint(custom-small-mobile-max) {
        padding-right: em(10);
      }
    }

    &__paragraph {
      padding-bottom: em(15.68);
    }
  }

  &-vision {
    position: relative;
    margin-top: em(51.93);
    padding-right: em(231.22);

    @include breakpoint(desktop-max) {
      padding-right: 0;
    }

    @include breakpoint(mobile-max) {
      flex-direction: column-reverse;
    }

    &__smallcircle {
      position: absolute;
      top: em(-63);
      right: em(450);
      width: em(61);
      height: em(61);
      display: inline-block;
      background-color: transparent;
      border-radius: 50%;
      border: em(3.55) solid $color-yellow-orange;

      @include breakpoint(desktop-max) {
        right: em(300);
        width: em(55);
        height: em(55);
      }
    }

    &__bigcircle {
      position: absolute;
      top: em(-52);
      right: em(66);
      width: em(266);
      height: em(266);
      display: inline-block;
      background-color: transparent;
      border-radius: 50%;
      border: em(3.55) solid $color-yellow-orange;
      z-index: 1;

      @include breakpoint(desktop-max) {
        right: em(33);
        width: em(255);
        height: em(255);
      }

      .dottedcircle {
        position: relative;
        top: em(145);
        left: em(72);
        display: inline-block;
        width: 10.25em;
        right: em(31);
        line-height: em(31);

        @include breakpoint(desktop-max) {
          left: em(120);
        }

        @include breakpoint(portrait-mobile-max) {
          display: none;
        }

        .dot {
          width: em(4.24);
          height: em(4.24);
          display: inline-block;
          background: $color-green-atlantis;
          border-radius: 50%;
          margin-left: em(27);
        }
      }
    }

    .container {
      padding: em(31.3) em(77.54) em(70) em(320);

      @include breakpoint(desktop-max) {
        padding-left: em(70);
        padding-right: em(35);
      }

      @include breakpoint(mobile-max) {
        max-width: 100%;
        margin: 0;
        padding: em(35) em(35) em(35) em(70);
      }

      @include breakpoint(portrait-mobile-max) {
        padding-left: em(27.35);
      }

      @include breakpoint(custom-small-mobile-max) {
        padding-right: em(10);
      }
    }

    &__img {
      box-shadow: 0 em(24) em(17) em(-6) #777;
      @include breakpoint(desktop-max) {
        margin-right: em(70);
      }

      @include breakpoint(ipad-max) {
        box-shadow: none;
      }

      @include breakpoint(mobile-max) {
        margin-right: 0;
      }

      @include breakpoint(portrait-mobile-max) {
        margin: 0 auto;
      }
    }
  }
}

// -------------------why-------------------
.why {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: em(170.03) em(261.81) em(123.79);

  @include breakpoint(ipad-max) {
    padding: em(87.76) em(189.94) em(63.89);
  }

  @include breakpoint(mobile-max) {
    padding: em(67.92) em(104.58) em(49.45);
  }

  @include breakpoint(portrait-mobile-max) {
    padding: em(50.92) em(47) em(37.07);
  }

  &__title {
    font-size: em(34.15);
    font-weight: 700;
    color: $color-grap-dark;

    @include breakpoint(portrait-mobile-max) {
      font-size: em(32);
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(27);
    }
  }

  &__paragraph {
    font-size: em(16.36);
    font-weight: 400;
    font-family: $secondary-font;
    color: $color-white-boulder;
    margin-top: em(32.01, 16.36);
    margin-bottom: em(83.95, 16.36);
    padding-left: em(80, 16.36);
    padding-right: em(60, 16.36);

    @include breakpoint(desktop-max) {
      padding: 0;
    }
  }

  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: em(25.86);

    & > * {
      flex-grow: 1;
    }

    &.top {
      margin-bottom: em(37.7);
    }
  }

  &-card {
    $card: &;
    width: em(257.56);
    height: em(262.8);
    border-radius: em(15);
    background: $color-white;
    padding: em(24.18) em(19.2) em(19.2) em(25.61);
    box-shadow: 0 0 em(24) em(18) $color-white-anti-flash;

    &__logo {
      img {
        width: em(56.9);
        height: em(56.9);
      }
    }

    &__title {
      font-size: em(17.78);
      font-weight: 700;
      color: $color-blue-limed-spruce;
      padding-top: em(28.45, 17.78);
      padding-bottom: em(22.76, 17.78);
    }

    &__paragraph {
      font-size: em(13.51);
      font-weight: 400;
      font-family: $secondary-font;
      color: $color-blue-dark;
    }

    &--color {
      background: $color-brown-old-brick;

      #{$card}__paragraph,
      #{$card}__title {
        color: $color-white;
      }
    }
  }
}

// ----------------curriculum----------------
.curriculum {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: em(773);
  padding: em(80.39) 0 em(80.39) 0;
  align-items: center;
  background: $color-white;
  overflow-x: hidden;

  & > * {
    z-index: 20;
  }

  @include breakpoint(ipad-max) {
    background: $color-pink-lavender-blush;
  }

  &:after,
  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: em(440);

    @include breakpoint(ipad-max) {
      display: none;
    }
  }

  &:before {
    top: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: $color-pink-lavender-blush;
    z-index: 2;
  }

  &:after {
    bottom: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #eedddcb5;
    z-index: 1;
  }

  &__title {
    font-size: em(34.15);
    font-weight: 700;
    color: $color-grap-dark;

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(28.8);
    }
  }

  &__paragraph {
    font-size: em(16.36);
    font-weight: 400;
    font-family: $secondary-font;
    color: $color-white-boulder;
    padding-top: em(24.9, 16.36);
    padding-bottom: em(106.71, 16.36);

    @include breakpoint(ipad-max) {
      padding: em(24.9, 16.36) em(50, 16.36) em(106.71, 16.36);
    }
  }

  &-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: em(33);

    @include breakpoint(desktop-max) {
      justify-content: center;
    }

    @include breakpoint(mobile-max) {
      gap: em(22);
    }

    .dottedcircle {
      position: absolute;
      right: em(-36);
      bottom: em(-48);
      width: 16.3em;
      line-height: 1.8125em;
      letter-spacing: em(21);

      .dot {
        width: 0.14em;
        height: 0.14em;
        display: inline-block;
        background: $color-brown-old-brick;
        border-radius: 50%;
      }
    }
  }

  &-card {
    $card: &;
    position: relative;
    max-width: em(266.79);
    height: em(248);
    & > * {
      // flex-grow: 1;
    }

    &__img {
      width: em(266.79);
      height: em(173.59);
    }

    &__figcaption {
      position: absolute;
      width: 100%;
      font-size: em(17.78);
      font-weight: 500;
      text-align: center;
      color: $color-blue-limed-spruce;
      border-radius: em(5);
      background: $color-white;
      box-shadow: 0 em(24) em(17) -1.375em #777;
      padding: em(22.05, 17.78) 0;
    }

    &--color {
      #{$card}__figcaption {
        background: $color-brown-old-brick;
        color: $color-white;
      }
    }

    &--index {
      z-index: 19;
    }
  }
}

@include breakpoint(custom-small-mobile-max) {
}
