// hero banner
.hero-banner {
  position: relative;
  height: 40.75em;
  @include breakpoint(desktop-max) {
    height: em(524);
  }

  @include breakpoint(ipad-max) {
    height: em(428);
  }

  @include breakpoint(mobile-max) {
    height: em(364);
  }

  @include breakpoint(portrait-mobile-max) {
    height: 17.75em;
  }

  @include breakpoint(custom-small-mobile-max) {
    height: 14.75em;
  }

  img {
    position: absolute;
    width: 100%;
    height: 40.75em;

    @include breakpoint(desktop-max) {
      height: em(524);
    }

    @include breakpoint(ipad-max) {
      height: em(428);
    }

    @include breakpoint(mobile-max) {
      height: em(364);
    }

    @include breakpoint(portrait-mobile-max) {
      height: 17.75em;
    }

    @include breakpoint(custom-small-mobile-max) {
      height: 14.75em;
    }
  }

  &__back-img {
    z-index: 1;
  }

  &__front-img {
    z-index: 3;
    background: linear-gradient(#1f1f24d6, #000000b8);

    @include breakpoint(portrait-mobile-max) {
      display: none;
    }
  }

  .container {
    position: absolute;
    z-index: 3;
    width: em(530);
    margin-top: em(146.56);
    margin-left: 7.83em;
    @include breakpoint(desktop-max) {
      margin-top: em(82.56);
      margin-left: em(93.28);
    }

    @include breakpoint(mobile-max) {
      width: 29.125em;
      margin-top: 3.16em;
      margin-left: em(55);
    }

    @include breakpoint(portrait-mobile-max) {
      width: 18.125em;
      margin-top: 1.16em;
      margin-left: em(15);
    }

    @include breakpoint(custom-small-mobile-max) {
      width: 15em;
    }
  }

  &__header {
    color: $color-white;
    font-size: 3.11em;
    font-weight: 700;

    @include breakpoint(desktop-max) {
      font-size: em(43.71);
    }

    @include breakpoint(ipad-max) {
      font-size: em(36.13);
      line-height: 1;
    }

    @include breakpoint(mobile-max) {
      font-size: em(28);
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(22);
    }
  }

  &__para {
    padding-top: 2.25em;
    padding-right: em(30);
    padding-bottom: 1.84em;
    color: $color-white-boulder;
    font-size: 0.97em;
    font-weight: 500;

    @include breakpoint(desktop-max) {
      padding-right: em(161, 13.73);
      font-size: em(13.73);
    }

    @include breakpoint(ipad-max) {
      padding-top: em(27, 13.73);
      padding-right: em(234.921, 13.73);
      padding-bottom: em(23, 13.73);
    }

    @include breakpoint(mobile-max) {
      padding-right: em(220, 13.73);
    }

    @include breakpoint(portrait-mobile-max) {
      padding-top: em(20);
      padding-right: 0;
      padding-bottom: em(20);
    }

    @include breakpoint(custom-small-mobile-max) {
      padding-top: 1.1em;
      padding-bottom: 1em;
      font-size: em(11);
    }
  }

  &__btn {
    width: em(186.4, 15.65);
    padding: em(16.36, 15.65) em(38.41, 15.65);
    border-radius: em(32, 15.65);
    background: $color-brown-old-brick;
    color: $color-white;
    font-size: em(15.65);
    font-weight: 900;

    @include breakpoint(desktop-max) {
      font-size: em(13.73);
    }

    @include breakpoint(mobile-max) {
      font-size: em(12);
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(10);
    }

    .icon-arrow_right {
      padding-left: 0.83em;
      font-size: em(13);
    }

    &:hover {
      color: $color-white;
    }
  }
}

// supervisor
.supervisor {
  display: flex;
  padding: 8.32em 15.92em 0 17.04em;

  @include breakpoint(desktop-max) {
    padding: 6.14em 8.04em 0;
  }

  @include breakpoint(ipad-max) {
    flex-direction: column;
    padding-bottom: em(151);
    align-items: center;
  }

  @include breakpoint(mobile-max) {
    padding: 6.14em 0;
  }

  @include breakpoint(custom-small-mobile-max) {
    padding: 5em 0;
  }

  &-left {
    position: relative;
    margin-bottom: em(195.2);
    @include breakpoint(ipad-max) {
      margin-bottom: 0;
    }
  }

  &__circle {
    position: absolute;
    top: -45px;
    left: -37px;
    width: 7.19em;
    height: 7.19em;
    border: 1.61em solid $color-brown-old-brick;
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
  }

  &__img {
    width: 24.06em;
    height: auto;

    @include breakpoint(ipad-max) {
      width: em(540);
    }

    @include breakpoint(mobile-max) {
      width: 500px;
    }

    @include breakpoint(portrait-mobile-max) {
      width: em(360);
    }

    @include breakpoint(custom-small-mobile-max) {
      width: em(320);
    }
  }

  &-right {
    position: relative;
    padding-left: 1.87em;

    @include breakpoint(ipad-max) {
      width: em(559);
      padding-top: em(32);
      padding-right: em(20);
    }

    @include breakpoint(mobile-max) {
      padding-top: 0;
      margin-top: 1.875em;
    }

    @include breakpoint(portrait-mobile-max) {
      width: em(360);
    }

    @include breakpoint(custom-small-mobile-max) {
      width: em(320);
    }
  }

  &__dottedcircle {
    position: absolute;
    top: -23px;
    right: em(16);
    width: 8.8em;
    line-height: em(13);
    @include breakpoint(desktop-max) {
      top: -29px;
      right: 0em;
    }

    @include breakpoint(ipad-max) {
      top: em(5);
      right: em(4);
    }

    @include breakpoint(mobile-max) {
      top: -24px;
      right: 3px;
    }

    @include breakpoint(portrait-mobile-max) {
      top: 12px;
      right: 59px;
    }

    @include breakpoint(custom-small-mobile-max) {
      top: 12px;
      right: 19px;
    }

    .dot {
      display: inline-block;
      width: 0.14em;
      height: 0.14em;
      margin-left: 0.5em;
      background: $color-brown-old-brick;
      border-radius: 50%;
    }
  }

  &__title {
    padding-right: 0.83em;
    padding-bottom: 0.87em;
    color: $color-blue-oxford;
    font-size: em(34);
    font-weight: 700;

    @include breakpoint(ipad-max) {
      padding-bottom: em(21, 34);
      padding-right: 0;
    }

    @include breakpoint(mobile-max) {
      padding-bottom: 0.5em;
    }
  }

  &__para {
    font-size: 1.07em;
    font-weight: 500;
  }
}

// goal
.goal {
  position: relative;
  z-index: 1;
  width: 100%;
  background: $color-brown-old-brick;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: em(22.05);
    background: $color-white;
  }

  &:before {
    top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &:after {
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  &-mission,
  &-vision {
    display: flex;
    color: $color-white;

    &__img {
      z-index: 2;
      width: 19.08em;
      height: 24.37em;
      border-radius: 1.125em;

      @include breakpoint(mobile-max) {
        margin-left: em(70);
      }
    }

    &__title {
      font-size: em(34.15);
      font-weight: 700;
    }

    &__paragraph {
      padding-top: em(21.34);
      font-size: em(15.65);
      font-weight: 400;
      font-family: $secondary-font;
    }

    &__list {
      padding-left: 16px;
      padding-bottom: em(15.68);
      margin-bottom: 0;
      font-size: em(15.65);
      font-weight: 400;
      font-family: $secondary-font;
    }
  }

  &-mission {
    padding-left: 11.79em;

    @include breakpoint(desktop-max) {
      padding-left: 0;
    }

    @include breakpoint(mobile-max) {
      flex-direction: column;
    }

    &__smallcircle {
      position: absolute;
      top: em(120.94);
      left: em(108.85);
      display: inline-block;
      width: em(61);
      height: em(61);
      border: em(3.55) solid $color-yellow-orange;
      background-color: transparent;
      border-radius: 50%;

      @include breakpoint(desktop-max) {
        left: em(10);
        width: em(55);
        height: em(55);
      }
    }

    &__bigcircle {
      position: absolute;
      z-index: 1;
      top: 11.5em;
      left: em(120.94);
      display: inline-block;
      width: em(266);
      height: em(266);
      border: em(3.55) solid $color-yellow-orange;
      background-color: transparent;
      border-radius: 50%;

      @include breakpoint(desktop-max) {
        left: 0;
        width: em(255);
        height: em(255);
      }

      .dottedcircle {
        position: relative;
        top: 7em;
        right: em(31);
        display: inline-block;
        width: 11.25em;
        line-height: em(31);

        @include breakpoint(desktop-max) {
          right: em(0);
          line-height: em(17.5);
        }

        .dot {
          margin-left: em(27);
          display: inline-block;
          width: em(4.24);
          height: em(4.24);
          background: $color-green-atlantis;
          border-radius: 50%;
        }
      }
    }

    &__img {
      @include breakpoint(desktop-max) {
        margin-left: em(70);
      }

      @include breakpoint(portrait-mobile-max) {
        margin: 0 auto;
      }
    }

    .container {
      padding-top: em(96.75);
      padding-right: 25.44em;
      padding-left: 2.41em;

      @include breakpoint(desktop-max) {
        padding-left: em(35);
        padding-right: em(70);
      }

      @include breakpoint(mobile-max) {
        padding: em(35) em(35) em(35) em(70);
        margin: 0;
        max-width: 100%;
      }

      @include breakpoint(portrait-mobile-max) {
        padding-left: em(27.35);
      }

      @include breakpoint(custom-small-mobile-max) {
        padding-right: em(10);
      }
    }

    &__paragraph {
      padding-bottom: em(15.68);
    }
  }

  &-vision {
    position: relative;
    padding-right: em(231.22);
    margin-top: em(51.93);

    @include breakpoint(desktop-max) {
      padding-right: 0;
    }

    @include breakpoint(mobile-max) {
      flex-direction: column-reverse;
    }

    &__smallcircle {
      position: absolute;
      top: em(-63);
      right: em(450);
      display: inline-block;
      width: em(61);
      height: em(61);
      border: em(3.55) solid $color-yellow-orange;
      background-color: transparent;
      border-radius: 50%;

      @include breakpoint(desktop-max) {
        right: em(300);
        width: em(55);
        height: em(55);
      }
    }

    &__bigcircle {
      position: absolute;
      z-index: 1;
      top: em(-52);
      right: em(66);
      display: inline-block;
      width: em(266);
      height: em(266);
      border: em(3.55) solid $color-yellow-orange;
      background-color: transparent;
      border-radius: 50%;

      @include breakpoint(desktop-max) {
        right: em(33);
        width: em(255);
        height: em(255);
      }

      .dottedcircle {
        position: relative;
        top: em(145);
        right: em(31);
        left: em(72);
        display: inline-block;
        width: 10.25em;
        line-height: em(31);

        @include breakpoint(desktop-max) {
          left: em(120);
        }

        @include breakpoint(portrait-mobile-max) {
          display: none;
        }

        .dot {
          margin-left: em(27);
          display: inline-block;
          width: em(4.24);
          height: em(4.24);
          border-radius: 50%;
          background: $color-green-atlantis;
        }
      }
    }

    .container {
      padding: em(31.3) em(77.54) em(70) em(320);

      @include breakpoint(desktop-max) {
        padding-left: em(70);
        padding-right: em(35);
      }

      @include breakpoint(mobile-max) {
        max-width: 100%;
        padding: em(35) em(35) em(35) em(70);
        margin: 0;
      }

      @include breakpoint(portrait-mobile-max) {
        padding-left: em(27.35);
      }

      @include breakpoint(custom-small-mobile-max) {
        padding-right: em(10);
      }
    }

    &__img {
      box-shadow: 0 em(24) em(17) em(-6) #777;
      @include breakpoint(desktop-max) {
        margin-right: em(70);
      }

      @include breakpoint(ipad-max) {
        box-shadow: none;
      }

      @include breakpoint(mobile-max) {
        margin-right: 0;
      }

      @include breakpoint(portrait-mobile-max) {
        margin: 0 auto;
      }
    }
  }
}

// why
.why {
  padding: em(170.03) em(261.81) em(123.79);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(ipad-max) {
    padding: em(87.76) em(189.94) em(63.89);
  }

  @include breakpoint(mobile-max) {
    padding: em(67.92) em(104.58) em(49.45);
  }

  @include breakpoint(portrait-mobile-max) {
    padding: em(50.92) em(47) em(37.07);
  }

  &__title {
    color: $color-grap-dark;
    font-size: em(34.15);
    font-weight: 700;

    @include breakpoint(portrait-mobile-max) {
      font-size: em(32);
    }

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(27);
    }
  }

  &__paragraph {
    padding-left: em(80, 16.36);
    padding-right: em(60, 16.36);
    margin-top: em(32.01, 16.36);
    margin-bottom: em(83.95, 16.36);
    color: $color-white-boulder;
    font-family: $secondary-font;
    font-size: em(16.36);
    font-weight: 400;
    text-align: center;

    @include breakpoint(desktop-max) {
      padding: 0;
    }
  }

  &-box {
    display: flex;
    flex-wrap: wrap;
    gap: em(25.86);

    & > * {
      flex-grow: 1;
    }

    &.top {
      margin-bottom: em(37.7);
    }
  }

  &-card {
    $card: &;
    padding: em(24.18) em(19.2) em(19.2) em(25.61);
    width: em(257.56);
    height: em(262.8);
    border-radius: em(15);
    background: $color-white;
    box-shadow: 0 0 em(24) em(18) $color-white-anti-flash;

    &__logo {
      img {
        width: em(56.9);
        height: em(56.9);
        border-radius: 50%;
      }
      [class*="icon-"] {
        display: grid;
        place-items: center;
        width: em(56.91, 25.61);
        height: em(56.91, 25.61);
        border-radius: 50%;
        color: $color-white;
        font-size: em(25.61);
      }

      .icon {
        &-file {
          background: $color-green-soft;
        }
        &-home {
          background: $color-blue-cornflower;
        }
        &-madel {
          background: $color-yellow-texas-rose;
        }
      }
    }

    &__title {
      padding-top: em(28.45, 17.78);
      padding-bottom: em(22.76, 17.78);
      color: $color-blue-limed-spruce;
      font-size: em(17.78);
      font-weight: 500;
    }

    &__paragraph {
      color: $color-blue-dark;
      font-family: $secondary-font;
      font-size: em(13.51);
      font-weight: 400;
    }

    &:hover {
      background: $color-brown-old-brick;

      #{$card}__paragraph,
      #{$card}__title {
        color: $color-white;
      }
    }
  }
}

// curriculum
.curriculum {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  max-width: 100%;
  min-height: em(773);
  padding: em(80.39) 0 em(80.39) 0;
  background: $color-white;

  & > * {
    z-index: 20;
  }

  @include breakpoint(ipad-max) {
    background: $color-pink-lavender-blush;
  }

  &:after,
  &::before {
    content: "";
    position: absolute;
    width: 110%;
    height: em(440);
    overflow-x: hidden;

    @include breakpoint(ipad-max) {
      display: none;
    }
  }

  &:before {
    z-index: 2;
    top: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: $color-pink-lavender-blush;
  }

  &:after {
    z-index: 1;
    bottom: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #eedddcb5;
  }

  &__title {
    color: $color-grap-dark;
    font-size: em(34.15);
    font-weight: 700;

    @include breakpoint(custom-small-mobile-max) {
      font-size: em(28.8);
    }
  }

  &__paragraph {
    padding-top: em(24.9, 16.36);
    padding-bottom: em(106.71, 16.36);
    color: $color-white-boulder;
    font-family: $secondary-font;
    font-size: em(16.36);
    font-weight: 400;

    @include breakpoint(ipad-max) {
      padding: em(24.9, 16.36) em(50, 16.36) em(106.71, 16.36);
    }
  }

  &-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: em(33);

    @include breakpoint(desktop-max) {
      justify-content: center;
    }

    @include breakpoint(mobile-max) {
      gap: em(22);
    }

    .dottedcircle {
      position: absolute;
      right: em(-36);
      bottom: -2em;
      width: 16.3em;
      line-height: 1.8125em;
      letter-spacing: em(21);

      .dot {
        display: inline-block;
        width: 0.14em;
        height: 0.14em;
        border-radius: 50%;
        background: $color-brown-old-brick;
      }
    }
  }

  &-card {
    $card: &;
    position: relative;
    max-width: em(266.79);
    height: em(248);

    &__img {
      width: em(266.79);
      height: em(173.59);
      border-top-left-radius: em(5);
      border-top-right-radius: em(5);
    }

    &__figcaption {
      position: absolute;
      width: 100%;
      padding: em(22.05, 17.78) 0;
      margin-top: em(-3);
      border-radius: em(5);
      box-shadow: 0 em(24) em(17) -1.375em #777;
      background: $color-white;
      color: $color-blue-limed-spruce;
      font-size: em(17.78);
      font-weight: 500;
      text-align: center;
    }

    &:hover {
      #{$card}__figcaption {
        background: $color-brown-old-brick;
        color: $color-white;
      }
    }

    &--index {
      z-index: 19;
    }
  }
}

// Testimonial
.testimonial {
  padding: em(60.47) 0 em(60.47) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: $color-grap-dark;
    font-size: em(34.15);
    font-weight: 700;
  }

  &__paragraph {
    padding-left: em(280, 16.36);
    padding-right: em(185, 16.36);
    margin-top: em(32.01, 16.36);
    color: $color-white-boulder;
    font-family: $secondary-font;
    font-size: em(16.36);
    font-weight: 400;
    text-align: center;

    @include breakpoint(desktop-max) {
      padding: 0 em(100, 16.36);
    }

    @include breakpoint(portrait-mobile-max) {
      padding: 0 em(20, 16.36);
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    width: em(366.1);
    padding: em(27.74) em(44.11) em(35.57) em(24.9);
    margin: em(115.96) em(30) em(61.18);
    border-radius: em(10.67);
    box-shadow: 0 0 em(24.9) em(10.67) $color-white-porcelain;
    cursor: pointer;

    @include breakpoint(portrait-mobile-max) {
      padding-right: em(24.9);
      margin: em(68) em(0) em(61.18);
    }

    &__top {
      display: flex;

      @include breakpoint(portrait-mobile-max) {
        flex-direction: column;
      }
    }

    &__img {
      max-width: em(45.12);
      max-height: em(45.12);
      margin-right: em(19.92);
      @include breakpoint(portrait-mobile-max) {
        margin-bottom: em(19.92);
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
    }

    &__name {
      color: $color-green-dark-jungle;
      font-size: em(20.63);
      font-weight: 500;
    }

    &__info {
      color: $color-blue-limed-spruce;
      font-family: $secondary-font;
      font-size: em(12.8);
      font-weight: 400;
    }

    &__paragraph {
      margin-top: em(27.74, 15.65);
      color: $color-blue-limed-spruce;
      font-family: $secondary-font;
      font-size: em(15.65);
      font-weight: 400;
    }
  }

  .slider {
    width: 85%;

    @include breakpoint(portrait-mobile-max) {
      width: 100%;
      padding-left: 0;
    }
  }

  .slick-slide {
    width: em(366);
  }

  .slick-prev,
  .slick-next,
  button {
    display: none !important;
  }
  ul {
    .slick-dots {
      display: flex;
      gap: em(23);
      justify-content: center;
      padding: 0;
      font-size: em(30);

      li {
        color: $color-white-concord;
      }
    }
  }

  .slick-active::marker {
    color: $color-brown-old-brick;
  }
}

// info
.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: em(112.41);
  background: $color-pink-lavender-blush;

  @include breakpoint(desktop-max) {
    padding-right: 0;
    padding-left: 0;
  }

  @include breakpoint(ipad-max) {
    padding-right: em(30.4);
    padding-left: em(35);
  }

  @include breakpoint(custom-small-mobile-max) {
    padding-right: em(20);
    padding-left: em(25);
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: em(20.63);
    background: $color-white;
  }

  &:before {
    top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }

  &:after {
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }

  &__title {
    margin-right: em(102.45, 34.15);
    color: $color-brown-merlot;
    font-size: em(34.15);
    font-weight: 700;

    @include breakpoint(ipad-max) {
      margin: 0;
      text-align: center;
    }
  }

  &-box {
    display: flex;
    margin-top: em(36.28);

    @include breakpoint(mobile-max) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    width: em(110.27);
    height: em(110.27);
    margin-right: em(29.88);

    @include breakpoint(custom-small-mobile-max) {
      margin-bottom: em(20);
    }
  }

  .bottom {
    margin-top: em(12.09);
    line-height: em(25);

    @include breakpoint(ipad-max) {
      line-height: 2em;
    }

    @include breakpoint(portrait-mobile-max) {
      line-height: 2.3em;
    }

    li {
      &::marker {
        font-size: 30px;
      }
    }
  }

  &__link {
    display: table;
    color: $color-grap-dark;
    font-size: em(19.92);
    font-weight: 500;
    text-decoration: underline;

    &:hover {
      color: $color-grap-dark;
    }
  }
}

// services
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: em(76.12) em(99.51) em(82.52);

  @include breakpoint(desktop-max) {
    padding-right: 0;
    padding-left: 0;
  }

  &__title {
    color: $color-grap-dark;
    font-size: em(34.15);
    font-weight: 500;
  }

  &__paragraph {
    padding-left: 165px;
    padding-right: 157px;
    margin-top: em(33.59, 16.36);
    margin-bottom: em(83.24, 16.36);
    color: $color-white-boulder;
    font-family: $secondary-font;
    font-size: em(16.36);
    font-weight: 400;
    text-align: center;
    line-height: em(26, 16.36);

    @include breakpoint(mobile-max) {
     padding: 0 em(72);
    }

    @include breakpoint(portrait-mobile-max) {
      padding: 0 em(20);
    }
    
  }

  &-box {
    display: flex;
    flex-wrap: wrap;

    & > *{
      flex-grow: 1;
    }
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: em(333.67);
    padding: em(24.18) em(26) em(58.33) em(41.97);

    @include breakpoint(desktop-max) {
      width: em(330);
    }

    &:hover {
      border-top-left-radius: em(100);
      border-top-right-radius: em(8);
      border-bottom-right-radius: em(101);
      border-bottom-left-radius: em(8);
      box-shadow: 0 0 em(56) em(10) $color-pink-lavender-blush;
    }

    // TODO: progress bar

    .services-chart {
      width: em(127.35);
    }

    .circular-chart {
      display: block;
      max-height: em(177.86);
      margin: em(7.11) auto;
      border-radius: 50%;

      &.pink-lavender {
        background: $color-pink-lavender-blush;

        & .circle {
          stroke: $color-brown-merlot;
        }
      }

      &.green-aqua {
        background: $color-green-aqua-spring;

        & .circle {
          stroke: $color-green-soft;
        }
      }

      &.yellow-orange {
        background: $color-grey-pale;

        & .circle {
          stroke: $color-yellow-orange;
        }
      }
    }

    .circle-bg {
      fill: none;
      stroke-width: 3.8;
    }

    .circle {
      fill: none;
      stroke-width: 2.8;
      stroke-linecap: round;
      animation: progress 1s ease-out forwards;
    }

    @keyframes progress {
      0% {
        stroke-dasharray: 0 100;
      }
    }

   

    

    .percentage {
      font-family: $primary-font;
      font-size: 0.5em;
      text-anchor: middle;

      &.brown-merlot {
        fill: $color-brown-merlot;
      }
  
      &.green-soft {
        fill: $color-green-soft;
      }
  
      &.yellow-orange {
        fill: $color-yellow-orange;
      }
      
    }

  

    // TODO: ---------

    &__title {
      margin-top: em(28.45, 17.07);
      margin-bottom: em(46.24, 17.07);
      color: $color-blue-bayoux;
      font-size: em(17.07);
      font-weight: 500;

      @include breakpoint(mobile-max) {
        margin-bottom: em(19, 17.07);
      }
      
    }

    &__paragraph {
      color: $color-white-boulder;
      font-size: em(14.22);
      font-weight: 500;
      text-align: center;
    }
  }
}

@include breakpoint(portrait-mobile-max) {
}

footer {
  margin-bottom: 1000px;
}
