.dashboard-darkmode {
  position: relative;
  width: rem(19.81);
  height: rem(19);
  margin-left: rem(11.95);
  margin-right: rem(6.19);
  cursor: pointer;

  & > * {
    position: absolute;
    width: 50%;
    height: 100%;
  }

  .black {
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
    background: $color-black;
  }

  .white {
    border-top-right-radius: rem(10);
    border-bottom-right-radius: rem(10);
    margin-left: calc(100% - 50%);
    background: $color-silver;
  }

  &__text {
    font-size: rem(13);
    opacity: 0.4;
  }
}

.darkmode {
  & > .sidebar {
    background: $color-black-eerie-700;
  }
  & > * {
    background: $color-black-eerie;
    color: $color-white;

    & .bxs-plus-square {
      background: $color-black-eerie-700;
    }

    & .sidebar-logo__name {
      color: $color-white;
    }

    & .dashboard-right {
      & .dropdown {
        background: $color-black-jet;

        & button {
          background: $color-black-jet;
          color: $color-silver-sonic;
        }
      }

      & .dashboard-darkmode__text {
        color: $color-silver;
      }
    }

    & h2 {
      color: $color-white;
    }
    & p {
      color: $color-silver;
    }
  }

  & > * ul li {
    &.profile {
      background: $color-black-eerie-700;

      .name {
        color: $color-white;
      }

      .job {
        color: $color-silver;
      }

      & .bx-chevron-up::before {
        content: "\ea57";
        background: $color-white;
        border-radius: 50%;
      }
    }
  }
  & a {
    &:hover {
      & i,
      span {
        color: $color-silver !important;
      }
    }

    & i,
    span {
      color: $color-silver;
    }
  }

  & > aside.notification {
    background: $color-black-eerie-700;

    .notification__date {
      color: $color-silver;
    }
  }
}
