.sidebar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 221px;
  height: 100vh;
  padding: rem(33) rem(9) 0 rem(23);
  background: $color-white-cultured;
  transition: all 0.5s ease;

  //  For small size
  &.close {
    width: 67px;
    background: $color-green-apple-700;

    & li:hover .tooltip {
      display: block;
    }

    & li a {
      &:hover {
        & .sidebar-list__name,
        & i {
          color: $color-white;
        }
      }
    }

    & .sidebar-logo .sidebar-logo__name {
      opacity: 0;
    }

    & .sidebar-logo .sidebar-logo__name .circle {
      display: none;
    }

    & .sidebar-logo img {
      display: block;
    }

    & .sidebar-logo #btn {
      background: $color-black;
      text-align: right;
    }

    & li .tooltip {
      display: block;
    }

    & li a .sidebar-list__name {
      pointer-events: auto;
      opacity: 0;
    }

    & li.profile {
      width: 67px;
      border-top: 1px solid $color-grey-web;
      background: $color-green-apple-700;

      & #log_out {
        display: none;
        width: 100%;
        background: #1d1b31;
      }

      & .profile-details .name_job .name,
      & .profile-details .name_job .job {
        color: $color-white;
        opacity: 0;
      }
    }
  }

  &-logo {
    position: relative;
    display: flex;

    img {
      display: none;
      margin-left: rem(-6);
      transition: all 0.1s ease;
    }

    &__name {
      display: flex;
      font-size: rem(29.94);
      font-weight: 900;
      color: $color-black;
      opacity: 1;
      transition: all 0.01ms ease;

      .circle {
        position: relative;
        display: inline-block;
        top: rem(22);
        right: 0;
        width: 0.4375rem;
        height: 0.4375rem;
        border-radius: 3.125rem;
        background: $color-green-apple-700;
      }
    }

    #btn {
      position: absolute;
      display: grid;
      place-items: center;
      top: rem(103);
      right: rem(-20);
      width: rem(30);
      aspect-ratio: 1 / 1;
      background: $color-green-apple-700;
      color: $color-white;
      border-radius: rem(50);
      font-size: rem(23);
      text-align: center;
      transform: translateY(-50%);
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }

  & i {
    color: $color-black;
    font-size: rem(28);
    text-align: center;
  }

  ul.sidebar-list {
    padding-left: 0;
  }

  &-list {
    margin-top: rem(61.63px);
    height: 100%;

    &__name {
      margin-left: rem(11);
      font-size: rem(12);
      color: $color-black;
      white-space: nowrap;
      pointer-events: none;
      transition: 0.4s;
      opacity: 1;
    }
  }

  & li {
    position: relative;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: rem(13);
    }

    &:nth-child(2) {
      margin-bottom: rem(16);
    }

    &:hover .tooltip {
      display: none;
      top: 50%;
      pointer-events: auto;
      transition: all 0.4s ease;
      transform: translateY(-50%);
      opacity: 1;
    }

    & .tooltip {
      display: none;
      position: absolute;
      z-index: 3;
      top: rem(-20);
      left: calc(100% + 15px);
      padding: rem(6) rem(12);
      border-radius: rem(4);
      background: $color-white;
      box-shadow: 0 rem(5) rem(10) rgba(0, 0, 0, 0.3);
      font-size: rem(15);
      opacity: 0;
      white-space: nowrap;
      pointer-events: none;
      transition: 0s;
    }
  }

  & li a {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: rem(12);
    text-decoration: none;
    transition: all 0.4s ease;

    &:hover {
      & .sidebar-list__name,
      & i {
        color: $color-black;
        font-weight: 700;
        transition: all 0.5s ease;
      }
    }
  }

  & li i {
    border-radius: rem(12);
    font-size: rem(14);
  }

  .settings {
    position: absolute;
    z-index: 20;
    bottom: rem(55);
    display: none;
    width: rem(178);
    height: rem(100);
    border-radius: rem(10);
    margin-bottom: 0 !important;
    background: $color-white;

    a {
      width: auto;
      margin-top: rem(12);
      margin-left: rem(18);
      font-size: 11px;
      font-weight: 600;
    }

    #triangle-down {
      position: absolute;
      right: rem(-10);
      width: 0;
      height: 0;
      border-top: rem(33) solid $color-white;
      border-right: rem(24) solid transparent;
      border-left: rem(5) solid transparent;
      transform: rotate(332deg);
    }
  }

  .active {
    display: block;
  }

  & li.profile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: rem(221);
    height: rem(60);
    padding: rem(10) rem(14);
    border-top: rem(1) solid $color-grey-light;
    background: $color-white-cultured;
    transition: all 0.5s ease;
    overflow: hidden;

    & .name,
    & .job {
      font-size: rem(13);
      font-weight: 600;
      color: $color-black;
      white-space: nowrap;
      opacity: 1;
    }

    & .job {
      font-size: rem(12);
    }

    & #log_out {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: rem(50);
      height: rem(60);
      border-radius: 0;
      background: none;
      line-height: rem(60);
      transform: translateY(-50%);
      transition: all 0.5s ease;
      cursor: pointer;
    }
  }

  & li .profile-details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  & li img {
    width: rem(34);
    height: rem(33);
    border-radius: rem(6);
    margin-right: rem(11);
    object-fit: cover;
  }
}

//Inside Main Section
main section:not(:first-child) {
  display: none;
}

//DASHBBOARD
main section {
  position: relative;
  z-index: 2;
  top: 0;
  left: 221px;
  width: calc(100% - 221px);
  min-height: 100vh;
  transition: all 0.5s ease;

  &-text {
    display: inline-block;
    margin: 18px;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
  }
}

.sidebar.close ~ main section {
  left: 67px;
  width: calc(100% - 67px);
}

.dashboard {
  padding: rem(21) rem(7) rem(39) rem(41);

  &.darkmode {
    background: $color-black-eerie;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: rem(109);

    &.darkmode {
      color: $color-white;
    }
  }

  &-left {
    &__name {
      font-size: rem(20);
      font-weight: 700;
    }
    &__msg {
      font-size: rem(15);
      opacity: 0.7;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    height: rem(34.14);
  }

  .dropdown {
    padding: 0 rem(13.23) 0 rem(13.66);
    background: $color-white-cultured;

    &-toggle {
      display: flex;
      align-items: center;
      width: rem(147.67);
      border: none;
      font-size: rem(10);
      opacity: 0.4;

      &::after {
        content: "";
        display: none;
      }

      .bx-chevron-down {
        margin-left: auto;
        font-size: rem(34);
        opacity: 0.3;
      }
    }

    &-menu.show {
      inset: 0px -3px auto 0px !important;
      transform: translate(-1px, 36px) !important;
    }
  }

  &-darkmode {
    position: relative;
    width: rem(19.81);
    height: rem(19);
    margin-left: rem(11.95);
    margin-right: rem(6.19);
    cursor: pointer;

    & > * {
      position: absolute;
      width: 50%;
      height: 100%;
    }

    .black {
      border-top-left-radius: rem(10);
      border-bottom-left-radius: rem(10);
      background: $color-black;
    }

    .white {
      border-top-right-radius: rem(10);
      border-bottom-right-radius: rem(10);
      margin-left: calc(100% - 50%);
      background: $color-white-cultured;
    }

    &__text {
      font-size: rem(13);
      opacity: 0.4;
    }
  }

  &-main {
    width: 100%;
    padding-right: rem(90);
    &__title {
      font-size: rem(12);
      opacity: 0.3;
    }
  }

  &-items {
    // width: rem(618);
    display: flex;
    flex-wrap: wrap;
    gap: rem(15);
    margin-top: rem(8);

    & > * {
      flex-grow: 1;
    }
  }

  &-card {
    width: rem(196);
    padding: rem(17) rem(16) rem(17) rem(22);
    box-shadow: 0 rem(4) rem(24) #c4c5c340;

    &:hover {
      color: $color-black;
    }
    &__msg {
      width: fit-content;
      padding: rem(1) rem(7) rem(2);
      border-radius: rem(20);
      margin-left: auto;
      background: $color-grey-davys;
      color: $color-white;
      font-size: rem(8);
      font-weight: 600;

      &--bg-white {
        background: $color-silver;
        color: $color-grey-davys-100;
      }
    }

    &__header {
      width: rem(112);
      margin-top: rem(10);
      margin-bottom: rem(4);
      font-size: rem(14);
      font-weight: 700;
    }
    &__sub-header {
      font-size: rem(11);
    }
  }

  .bxs-plus-square {
    margin-top: rem(35);
    background: $color-white-cultured;
    color: $color-silver;
    font-size: rem(78);
  }
}
