// Color
$color-black: #000;
$color-white: #fff;
$color-green-burnham:#052f1c;
$color-green-shamrock: #009759;
$color-red-wenge:#645555;

// font family
$primary-font: "Helvetica Neue";

// fonts path
$fonts-path: "../fonts" !default;

// font size
$browser-context: 16;
