.footer {
  position: relative;
  min-width: 100%;
  background: $color-brown-old-brick;

  
  

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    background: $color-white;
  }

  &:before {
    top: 0;
    height: em(22.05);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  &:after {
    bottom: em(61);
    height: em(1);
    opacity: 0.1;
  }

  &-top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 em(48) em(103.16);

    @include breakpoint(mobile-max) {
      padding: 0 0 em(103.16);
    }

    @include breakpoint(portrait-mobile-max) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
    }

    ul {
      list-style-type: none;
    }
  }

  &-dist {
    position: relative;
    width: em(241.59);
    padding: em(89.64) 0 0 0;

    @include breakpoint(mobile-max) {
      margin-left: 20px;
    }

    &__header {
      display: flex;
      margin-bottom: em(25.61);
    }

    &__title {
      display: grid;
      place-items: center;
      margin-left: em(8.53);
      color: $color-white;
      font-size: em(16.36);
      font-weight: 900;
    }

    &__logo {
      width: em(41.26);
      height: em(41.26);
    }

    &-address {
      position: absolute;
      margin-left: em(46.95);

      li {
        & > * {
          display: inline-block;
        }
      }
      [class*="icon-"] {
        width: em(20.63);
        height: em(20.63);
        color: $color-white;
      }
    }
    .email {
      margin-top: em(17.78);
      margin-bottom: em(34.15);
    }

    &__details {
      margin-left: em(73, 12.8);
      color: $color-white;
      font-size: em(12.8);
      font-weight: 500;
    }

    &-bottom {
      margin-left: em(46.95);
    }

    &__followus {
      margin-top: em(54.78, 16.36);
      margin-bottom: em(27.74, 16.36);
      color: $color-white;
      font-size: em(16.36);
      font-weight: 900;
    }

    .icon- {
      &facebook,
      &youtube,
      &twitter {
        display: inline-block;
        padding: em(9.96);
        border: 1px solid $color-white;
        border-radius: 50%;
        color: $color-white;
      }
    }
  }

  &-schools,
  &-distinfo,
  &-more,
  &-listen {
    padding: em(89.64) 0 0 0;
    margin-left: em(117);

    & > * {
      margin-bottom: em(23.47);
      color: $color-white;
    }

    &__header {
      margin-top: em(10);
      margin-bottom: em(25.61, 17.78);
      font-size: em(17.78);
      font-weight: 700;
    }

    &__details {
      margin-top: em(10);

      & > * {
        display: inline-block;
        font-size: em(12.8);
        font-weight: 500;
      }
    }
  }

  &-distinfo {
    margin-left: em(77.54);
  }

  &-more {
    margin-left: em(89.64);

    @include breakpoint(mobile-max) {
      margin-left: em(60);
    }

    @include breakpoint(portrait-mobile-max) {
      margin-left: em(30);
    }
  }

  &-listen {
    margin-left: em(76.83, 17.78);

    @include breakpoint(portrait-mobile-max) {
      margin-left: em(48);
    }

    &--font {
      margin-top: em(54);
      font-size: em(17.78);
      font-weight: 700;
    }

    &--border {
      img {
        border-radius: 50%;
      }
    }
  }

  &-top {
    & > * {
      @include breakpoint(portrait-mobile-max) {
        margin-left: 0;
      }
    }
  }

  &__bottom {
    display: grid;
    place-items: center;
    padding: em(26.32) 0;
    color: $color-white-soft-peach;
    font-family: $secondary-font;
    font-size: em(12.8);
    font-weight: 300;
  }
}

@include breakpoint(desktop-max) {
}
