//  -------------header section-------------
.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: $color-brown-old-brick;
  padding: 0.998em 2.801em 0.82em 3.868em;
  @include breakpoint(portrait-mobile-max) {
    flex-direction: column;
  }

  &-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    [class*="icon-"] {
      padding-right: 0.32em;
    }
  }

  &__phone,
  &__email {
    display: flex;
    align-items: center;
    font-size: 0.8125em;
    font-weight: 500;
    color: $color-silver;

    &:hover {
      color: $color-silver;
    }
  }

  &__email {
    margin-left: 2.682em;
    @include breakpoint(portrait-mobile-max) {
      margin-left: 0;
    }
  }

  &__language {
    font-size: 0.786em;
    font-family: $primary-font;
    border-radius: 1.8em;
  }

  &__language {
    font-weight: 500;
    color: $color-white;
    border: 1px solid $color-white;
    background: transparent;
    padding: 0.615em 0 0.49em 1.33em;
    option:not(:first-child) {
      color: $color-black;
    }
  }

  &-contact,
  &-btns {
    @include breakpoint(portrait-mobile-max) {
      display: flex;
      flex-direction: column;
      display: inline-block;
    }
  }

  &__phone,
  &__email,
  &__btn,
  &__language {
    @include breakpoint(portrait-mobile-max) {
      margin-bottom: 0.23em;
    }
  }
}
