/*!
* Project Name
* Architecture for a Sass Project
* https://www.sitepoint.com/architecture-sass-project/
* OR
* http://matthewelsom.com/blog/simple-scss-playbook.html
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 1em;
  font-weight: 400;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-35Th.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-35Th.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-25UltLt.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-25UltLt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-45Lt.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-45Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-55Rm.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-55Rm.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-65Md.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-65Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-75Bd.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-75Bd.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-95Blk.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-95Blk.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLT-107XBlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLT-107XBlkCn.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

.hero-content_btn {
  padding: 0.386em 1.387em 0.3145em 1.4225em;
  border-radius: 2.5em;
  margin-top: 0.8535em;
  background-image: -webkit-gradient(linear, left top, right top, from(#f57629), to(#ffb016));
  background-image: linear-gradient(to right, #f57629, #ffb016);
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .hero-content_btn {
    font-size: 1.09688em;
  }
}

@media (max-width: 767px) {
  .hero-content_btn {
    font-size: 0.70125em;
  }
}

@media (max-width: 359px) {
  .hero-content_btn {
    margin-top: 0;
  }
}

.hero-content_btn:hover {
  color: #fff;
}

.header {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1.87062em 3.70625em 3.7325em 3.75em;
  background: -webkit-gradient(linear, left top, left bottom, from(#052f1c), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, #052f1c, rgba(0, 0, 0, 0));
}

@media (max-width: 767px) {
  .header {
    padding-right: 2.5em;
    padding-left: 2.5em;
  }
}

@media (max-width: 575px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0.5em 1.8125em 0.25em;
  }
}

@media (max-width: 575px) {
  .header-left {
    margin-top: 0.5em;
  }
}

.header-top {
  color: #fff;
}

.header-top__info {
  display: inline-block;
  font-size: 0.9375em;
  font-weight: 700;
}

.header-top__price {
  margin: 0 0.4em 0 0.31125em;
  font-size: 1rem;
  font-weight: 700;
}

@media (max-width: 575px) {
  .header-top__price {
    display: none;
  }
}

.header-top .triangle {
  position: relative;
  display: inline-block;
  border-right: 0.75em solid transparent;
  border-bottom: 1.2em solid #fff;
  border-left: 0.75em solid transparent;
  margin: 0 0.53312em 0 0;
}

@media (max-width: 575px) {
  .header-top .triangle {
    display: none;
  }
}

.header-top .triangle__inner {
  position: absolute;
  top: 0.2em;
  left: -0.49em;
  display: inline-block;
  border-right: 0.5em solid transparent;
  border-bottom: 0.9em solid #009759;
  border-left: 0.5em solid transparent;
  margin: 0 0.53312em 0 0;
}

.header-top__growth {
  font-size: 1rem;
}

@media (max-width: 575px) {
  .header-top__growth {
    display: none;
  }
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.0225em;
}

@media (max-width: 575px) {
  .header-bottom {
    padding-top: 0;
  }
}

.header-bottom__title {
  color: #fff;
}

@media (max-width: 1199px) {
  .header-bottom__title {
    display: none;
  }
}

.header-bottom__title:not(:first-child) {
  margin-left: 1.60062em;
}

.header-bottom__title:hover {
  color: #fff;
}

.header-bottom .dropdown {
  position: relative;
  display: inline-block;
}

.header-bottom .dropdown:hover .dropbtn {
  background: transparent;
}

.header-bottom .dropdown__dropbtn {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .header-bottom .dropdown__dropbtn {
    display: none;
  }
}

@media (max-width: 1199px) {
  .header-bottom .dropdown__dropbtn {
    display: block;
  }
}

.header-bottom .dropdown-content {
  position: absolute;
  z-index: 1;
  display: none;
  max-width: 100%;
  border-radius: 0.25em;
  background: #f1f1f1;
  -webkit-box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
}

.header-bottom .dropdown-content__title {
  padding: 0.375em 1.0625em;
  color: #000;
}

.header-bottom .dropdown-content__title:hover {
  background: #dddddd;
}

.header-bottom .active-dropdown-content {
  display: block;
}

.header-bottom .bx-search {
  position: relative;
  margin-left: 1.60062em;
  color: #645555;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .header-bottom .bx-search {
    top: 0.0625em;
  }
}

@media (max-width: 575px) {
  .header-bottom .bx-search {
    top: 1.0625em;
    right: 167px;
  }
}

.header-bottom .bx-search .circle {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  margin-top: 0.13em;
  margin-left: -0.83em;
  background: #fff;
  -webkit-box-shadow: 0 0 0.625em #fff;
          box-shadow: 0 0 0.625em #fff;
}

.header-bottom .search {
  display: none;
  border: none;
}

.header-bottom .active-search {
  display: block;
  height: 1.375em;
  border-radius: 1.25em;
}

@media (max-width: 767px) {
  .header-bottom .active-search {
    width: 7em;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.0625em;
  color: #fff;
}

@media (max-width: 575px) {
  .header-right {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.header-right__header {
  margin-top: 0.85185em;
  margin-right: 0.14815em;
  font-size: 1.6875em;
}

@media (max-width: 575px) {
  .header-right__header {
    margin-left: 0.3125em;
  }
}

.hero {
  position: relative;
  z-index: 1;
  top: 0;
}

.hero-img {
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 0;
  margin-top: 15.4375em;
  margin-left: 11.25em;
  color: #fff;
}

@media (max-width: 1199px) {
  .hero-content {
    margin-top: 13.55em;
    margin-left: 9.875em;
  }
}

@media (max-width: 991px) {
  .hero-content {
    margin-left: 8.16125em;
  }
}

@media (max-width: 767px) {
  .hero-content {
    margin-top: 10.625em;
    margin-left: 4.0625em;
  }
}

@media (max-width: 575px) {
  .hero-content {
    margin-top: 8.4375em;
    margin-left: 1.75em;
  }
}

.hero-content_top {
  font-size: 4.375em;
  font-weight: 300;
}

@media (max-width: 1199px) {
  .hero-content_top {
    font-size: 3.84em;
  }
}

@media (max-width: 767px) {
  .hero-content_top {
    font-size: 2.45625em;
  }
}

@media (max-width: 575px) {
  .hero-content_top {
    font-size: 1.75em;
  }
}

@media (max-width: 359px) {
  .hero-content_top {
    font-size: 1.4375em;
  }
}

.hero-content_top .shadow {
  text-shadow: 0.11429em 0 0 #fff;
}

.hero-content_bottom {
  font-size: 5em;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .hero-content_bottom {
    font-size: 4.38812em;
  }
}

@media (max-width: 767px) {
  .hero-content_bottom {
    font-size: 2.80687em;
  }
}

@media (max-width: 575px) {
  .hero-content_bottom {
    font-size: 1.875em;
  }
}

@media (max-width: 359px) {
  .hero-content_bottom {
    font-size: 1.6875em;
  }
}

.hero-turnover {
  position: absolute;
  right: 3.75em;
  bottom: 5.54375em;
  color: #fff;
}

@media (max-width: 991px) {
  .hero-turnover {
    right: 2.5em;
  }
}

@media (max-width: 575px) {
  .hero-turnover {
    right: 1.8125em;
    bottom: 1.25em;
  }
}

@media (max-width: 359px) {
  .hero-turnover {
    right: 1.4375em;
  }
}

.hero-turnover__title {
  position: relative;
  top: 1em;
  right: 0.36364em;
  font-size: 1.375em;
  font-weight: 700;
  text-align: right;
}

@media (max-width: 1199px) {
  .hero-turnover__title {
    font-size: 1.20687em;
  }
}

@media (max-width: 767px) {
  .hero-turnover__title {
    font-size: 0.77187em;
  }
}

.hero-turnover__number {
  height: 0.9375em;
  font-size: 5em;
  font-weight: 950;
  text-align: right;
}

@media (max-width: 1199px) {
  .hero-turnover__number {
    font-size: 4.38812em;
  }
}

@media (max-width: 767px) {
  .hero-turnover__number {
    font-size: 2.80687em;
  }
}

.hero-turnover-unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.4375em;
}

.hero-turnover__qty {
  font-size: 0.9375em;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .hero-turnover__qty {
    font-size: 0.8225em;
  }
}

@media (max-width: 767px) {
  .hero-turnover__qty {
    font-size: 0.52625em;
  }
}

.hero-turnover__price {
  font-size: 0.9375em;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .hero-turnover__price {
    font-size: 0.8225em;
  }
}

@media (max-width: 767px) {
  .hero-turnover__price {
    font-size: 0.52625em;
  }
}

.co-growth {
  position: relative;
}

.co-growth-topimg {
  position: absolute;
  z-index: 2;
  top: -5.5em;
  width: 100%;
}

@media (max-width: 1199px) {
  .co-growth-topimg {
    top: -5.1875em;
  }
}

@media (max-width: 991px) {
  .co-growth-topimg {
    top: -4.75em;
  }
}

@media (max-width: 767px) {
  .co-growth-topimg {
    top: -4.4375em;
  }
}

@media (max-width: 575px) {
  .co-growth-topimg {
    top: -4.125em;
  }
}

@media (max-width: 359px) {
  .co-growth-topimg {
    top: -4.0625em;
  }
}

.co-growth-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 3.5625em 3.125em 0 3.9375em;
  margin-top: 3.5625em;
  background: #fafafa;
}

@media (max-width: 575px) {
  .co-growth-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3.5625em 0 0;
  }
}

@media (max-width: 575px) {
  .co-growth-left {
    margin-bottom: 3.5625em;
  }
}

.co-growth-left__title {
  width: 3.04545em;
  margin-top: 0.53864em;
  font-size: 2.75em;
  color: #5e6052;
}

@media (max-width: 575px) {
  .co-growth-left__title {
    width: 100%;
  }
}

.co-growth-left__know-more {
  font-size: 1.25em;
  font-weight: 700;
  color: #f2752a;
}

.co-growth-left__know-more:hover {
  color: #f2752a;
}

.co-growth-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.3125em;
  padding-right: 3.125em;
  padding-left: 9.625em;
}

@media (max-width: 1199px) {
  .co-growth-right {
    padding-left: 7.5em;
  }
}

@media (max-width: 767px) {
  .co-growth-right {
    padding-left: 2.375em;
  }
}

@media (max-width: 575px) {
  .co-growth-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.co-growth-card {
  width: 17.25em;
}

@media (max-width: 575px) {
  .co-growth-card {
    margin-bottom: 1.25em;
  }
}

.co-growth-card__img--yellow {
  -webkit-box-shadow: -0.6875em 0.6875em 0 0.125em #ffb016;
          box-shadow: -0.6875em 0.6875em 0 0.125em #ffb016;
}

.co-growth-card__date {
  margin-top: 1.93333em;
  font-size: 0.9375em;
  font-weight: 700;
  color: #c2c2be;
}

.co-growth-card__header {
  margin-top: 0.27273em;
  font-size: 1.375em;
  font-weight: 700;
  color: #5e6052;
}

.co-growth-card__paragraph {
  margin-top: 0.27778em;
  font-size: 1.125em;
  color: #5f6153;
}

.solution {
  position: relative;
  min-height: 47.5em;
}

.solution::before, .solution::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 8.3125em;
}

.solution::before {
  top: 0;
  background-image: url("../images/nutrition-solution-top.png");
}

.solution::after {
  bottom: 0;
  background-image: url("../images/plant-nutrition-man-bottom.png");
}

.solution > * {
  position: absolute;
}

.solution__img {
  z-index: 1;
  width: 100%;
  height: 41.375em;
}

.solution-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solution-container > * {
  position: absolute;
}

.solution-left {
  z-index: 2;
  margin-top: 12.5em;
  margin-left: 3.6875em;
}

@media (max-width: 1199px) {
  .solution-left {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .solution-left {
    margin-top: 24.375em;
  }
}

@media (max-width: 1199px) {
  .solution-left__img {
    width: 34.1875em;
    height: 26.875em;
  }
}

@media (max-width: 991px) {
  .solution-left__img {
    width: 28.125em;
    height: 22.1875em;
  }
}

@media (max-width: 767px) {
  .solution-left__img {
    width: 21.875em;
    height: 17.1875em;
  }
}

@media (max-width: 575px) {
  .solution-left__img {
    opacity: 0.7;
  }
}

@media (max-width: 359px) {
  .solution-left__img {
    width: 20em;
  }
}

.solution-right {
  z-index: 2;
  right: 9.6875em;
  top: 11.75em;
  width: 26.4375em;
  color: #fff;
}

@media (max-width: 1199px) {
  .solution-right {
    right: 0;
  }
}

@media (max-width: 991px) {
  .solution-right {
    width: 19.5em;
  }
}

@media (max-width: 359px) {
  .solution-right {
    padding: 0 1.25em;
  }
}

.solution-header__top {
  font-size: 2.75em;
}

@media (max-width: 991px) {
  .solution-header__top {
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  .solution-header__top {
    font-size: 1.5em;
  }
}

.solution-header__bottom {
  font-size: 3.6875em;
  font-weight: 700;
}

@media (max-width: 991px) {
  .solution-header__bottom {
    font-size: 2.6875em;
  }
}

@media (max-width: 767px) {
  .solution-header__bottom {
    font-size: 2.0625em;
  }
}

.growth-journey {
  position: relative;
  top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.growth-journey::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 27.1875em;
  background-image: url("../images/growth-journey-bg-img.jpg");
}

.growth-journey-slider {
  z-index: 2;
  width: 100%;
  height: 435px;
  background: #fafafa;
  overflow: hidden;
  -webkit-clip-path: polygon(0% 0%, 0% 71%, 20% 100%, 64% 100%, 94% 84%, 127% 79%, 100% 100%, 40% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 71%, 20% 100%, 64% 100%, 94% 84%, 127% 79%, 100% 100%, 40% 100%, 100% 100%, 100% 0%);
}

.growth-journey-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500%;
  height: 435px;
}

.growth-journey-slides input {
  display: none;
}

.growth-journey-slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.growth-journey-content {
  position: relative;
  width: 840px;
  margin-left: 150px;
  color: #5e6052;
}

.growth-journey-content .seed {
  position: absolute;
  right: 0;
  bottom: 0;
}

.growth-journey__header {
  width: 456px;
  font-size: 44px;
}

.growth-journey__paragraph {
  width: 415px;
  margin-top: 21px;
  color: #5e6052;
  line-height: 2.13;
}

.growth-journey .navigation-manual {
  position: absolute;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: -40px;
}

.growth-journey .manual-btn {
  z-index: 20;
  padding: 5px;
  border: 1px solid red;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.growth-journey .manual-btn:not(:last-child) {
  margin-right: 40px;
}

.growth-journey .manual-btn:hover {
  background: #40d3dc;
}

.growth-journey #radio1:checked ~ .first {
  margin-left: 0;
}

.growth-journey #radio2:checked ~ .first {
  margin-left: -20%;
}

.growth-journey #radio3:checked ~ .first {
  margin-left: -40%;
}

.growth-journey #radio4:checked ~ .first {
  margin-left: -60%;
}

.growth-journey .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 395px;
}

.growth-journey .navigation-auto div {
  padding: 5px;
  border: 1px solid yellow;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.growth-journey .navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

.growth-journey #radio1:checked ~ .navigation-auto .auto-btn1 {
  position: relative;
  width: 57.2px;
  height: 57.2px;
  background: #ffb016;
  border-radius: 50%;
}

.growth-journey #radio1:checked ~ .navigation-auto .auto-btn1::before {
  content: "<";
  position: absolute;
}

.growth-journey #radio1:checked ~ .navigation-auto .auto-btn1::after {
  content: ">";
  position: absolute;
}

.growth-journey #radio2:checked ~ .navigation-auto .auto-btn2 {
  width: 57.2px;
  height: 57.2px;
  background: #ffb016;
  border-radius: 50%;
}

.growth-journey #radio3:checked ~ .navigation-auto .auto-btn3 {
  width: 57.2px;
  height: 57.2px;
  background: #ffb016;
  border-radius: 50%;
}

.growth-journey #radio4:checked ~ .navigation-auto .auto-btn4 {
  width: 57.2px;
  height: 57.2px;
  background: #ffb016;
  border-radius: 50%;
}

.main {
  margin-bottom: 2000px;
}
/*# sourceMappingURL=style.css.map */