.footer {
  position: relative;
  max-width: 100%;
  background: $color-brown-old-brick;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    background: $color-white;
  }

  &:before {
    top: 0;
    height: em(22.05);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  &:after {
    bottom: em(61);
    height: em(1);
    opacity: 0.1;
  }

  &-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 em(126.63) 0;

    &-hw {
      width: em(240);
      margin-top: em(89.64);

      &__header {
        margin-bottom: em(25.61, 16.36);
        color: $color-white;
        font-size: em(16.36);
        font-weight: 900;
        img {
          width: em(41.26);
          height: em(41.26);
        }
      }

      &__address {
        margin-left: em(40);
        p {
          display: flex;
          color: $color-white;
          font-size: em(12.8);
          font-weight: 500;

          &:nth-child(2) {
            margin-top: em(17.78);
            margin-bottom: em(34.15);
          }

          .icon {
            &-location,
            &-letter,
            &-call {
              position: relative;
              top: em(2.13);
              margin-right: em(10);
            }
          }

          .icon-location {
            margin-right: em(5, 20);
            font-size: em(20);
          }
        }
      }

      &__follow {
        margin-left: em(40);
        cursor: pointer;
        h2 {
          margin-top: em(54.78, 16.36);
          margin-bottom: em(27.74, 16.36);
          color: $color-white;
          font-size: em(16.36);
          font-weight: 900;
        }

        .icon- {
          &facebook,
          &youtube,
          &twitter {
            display: inline-block;
            padding: em(9.96);
            border: 1px solid $color-white;
            border-radius: 50%;
            color: $color-white;
          }
        }
      }
    }

    &-schools,
    &-info,
    &-more,
    &-listen,
    &-reporting {
      margin-top: em(89.64);
      margin-left: em(119.52);

      &__header {
        margin-bottom: em(43.39, 17.78);
        color: $color-white;
        font-size: em(17.78);
        font-weight: 700;
      }

      p {
        a {
          margin-bottom: em(22.76, 12.8);
          color: $color-white;
          font-size: em(12.8);
          font-weight: 500;
        }
        &:last-child {
          a {
            margin-bottom: 0;
          }
        }
      }
    }

    &-info {
      margin-left: em(76.83);

      @include breakpoint(portrait-mobile-max) {
        margin-left: -3.19813em;
      }
    }

    &-more {
      margin-left: em(75.41);

      @include breakpoint(mobile-max) {
        margin-left: em(18);
      }

      @include breakpoint(portrait-mobile-max) {
        margin-left: -1.875em;
      }
    }

    &-reporting {
      margin-top: em(52.64);
      img {
        border-radius: 50%;
      }
      p {
        a {
          margin-top: em(19.92);
        }
      }
    }

    .last {
      margin-top: em(89.64);
      margin-left: em(61.18);

      @include breakpoint(desktop-max) {
        display: flex;
      }

      @include breakpoint(mobile-max) {
        margin-left: 0;
      }

      @include breakpoint(portrait-mobile-max) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
    }

    &-listen,
    &-reporting {
      margin-top: 0;
      margin-left: 0;
    }

    &-reporting {
      margin-top: em(52);

      @include breakpoint(desktop-max) {
        margin-top: 0;
        margin-left: em(119.25);
      }

      @include breakpoint(mobile-max) {
        margin-left: em(71.25);
      }

      @include breakpoint(portrait-mobile-max) {
        margin-top: em(52);

      }
    }

    &-schools {
      @include breakpoint(mobile-max) {
        margin-left: em(32);
      }

      @include breakpoint(portrait-mobile-max) {
        margin-left: -3em;
      }
    }

    @include breakpoint(portrait-mobile-max) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__bottom {
    display: grid;
    place-items: center;
    padding: em(26.32) 0;
    color: $color-white-soft-peach;
    font-family: $secondary-font;
    font-size: em(12.8);
    font-weight: 300;
  }
}


	

